# Environment Setup and Dataset download
Run the following code snippets to setup the envs

Download the Netflix Subscription dataset from this [link](https://drive.google.com/file/d/1optmRfNfXUFSTWY2l4FAod6aiYl4y91P/view?usp=sharing) using your IIT account and upload to the this session storage.

In [ ]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [3]:
import pyspark
import pyspark.sql  as pyspark_sql
import pyspark.sql.types as pyspark_types
import pyspark.sql.functions  as pyspark_functions
from pyspark import SparkContext, SparkConf

In [4]:
# create the session
conf = SparkConf().set("spark.ui.port", "4050")

# create the context
sc = pyspark.SparkContext(conf=conf)
spark = pyspark_sql.SparkSession.builder.getOrCreate()

# Dataframe Ops

In [86]:
# Load the dataset
data = spark.read.csv("Netflix subscription fee Dec-2021.csv", header=True, inferSchema=True)

In [87]:
data.printSchema()

root
 |-- Country_code: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Total Library Size: integer (nullable = true)
 |-- No_of_TVShows: integer (nullable = true)
 |-- No_of_Movies: integer (nullable = true)
 |-- Cost Per Month - Basic ($): double (nullable = true)
 |-- Cost Per Month - Standard ($): double (nullable = true)
 |-- Cost Per Month - Premium ($): double (nullable = true)

In [88]:
data.show()

+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
|Country_code|   Country|Total Library Size|No_of_TVShows|No_of_Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
|          ar| Argentina|              4760|         3154|        1606|                      3.74|                          6.3|                        9.26|
|          au| Australia|              6114|         4050|        2064|                      7.84|                        12.12|                       16.39|
|          at|   Austria|              5640|         3779|        1861|                      9.03|                        14.67|                       20.32|
|          be|   Belgium|              4990|         3374|        1616|                     10.16|                        15.24|                       20.32|
|          bo|   Bolivia|              4991|         3155|        1836|                      7.99|                        10.99|                       13.99|
|          br|    Brazil|              4972|         3162|        1810|                      4.61|                         7.11|                        9.96|
|          bg|  Bulgaria|              6797|         4819|        1978|                      9.03|                        11.29|                       13.54|
|          ca|    Canada|              6239|         4311|        1928|                      7.91|                        11.87|                       15.03|
|          cl|     Chile|              4994|         3156|        1838|                      7.07|                         9.91|                       12.74|
|          co|  Colombia|              4991|         3156|        1835|                      4.31|                         6.86|                        9.93|
|          cr|Costa Rica|              4988|         3152|        1836|                      8.99|                        12.99|                       15.99|
|          hr|   Croatia|              2274|         1675|         599|                      9.03|                        11.29|                       13.54|
|          cz|   Czechia|              7325|         5234|        2091|                      8.83|                        11.49|                       14.15|
|          dk|   Denmark|              4558|         2978|        1580|                      12.0|                        15.04|                        19.6|
|          ec|   Ecuador|              4992|         3155|        1837|                      7.99|                        10.99|                       13.99|
|          ee|   Estonia|              6456|         4486|        1970|                      9.03|                        11.29|                       13.54|
|          fi|   Finland|              4045|         2638|        1407|                      9.03|                        13.54|                       18.06|
|          fr|    France|              5445|         3604|        1841|                     10.16|                        15.24|                       20.32|
|          de|   Germany|              5668|         3814|        1854|                      9.03|                        14.67|                       20.32|
|          gi| Gibraltar|              6167|         4079|        2088|                      9.03|                        14.67|                       20.32|
+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
only showing top 20 rows

In [90]:
data.printSchema()

root
 |-- Country_code: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Total Library Size: integer (nullable = true)
 |-- No_of_TVShows: integer (nullable = true)
 |-- No_of_Movies: integer (nullable = true)
 |-- Cost Per Month - Basic ($): double (nullable = true)
 |-- Cost Per Month - Standard ($): double (nullable = true)
 |-- Cost Per Month - Premium ($): double (nullable = true)

In [92]:
data.describe('Cost Per Month - Premium ($)').show()

+-------+----------------------------+
|summary|Cost Per Month - Premium ($)|
+-------+----------------------------+
|  count|                          65|
|   mean|          15.612923076923078|
| stddev|           4.040672408104298|
|    min|                        4.02|
|    max|                       26.96|
+-------+----------------------------+

In [ ]:
# used to serialize the data and convert to a regular python variable
data.collect()

In [40]:
from pyspark.sql import functions as F

# Selection of a column

In [41]:
data.select("Country").show()

+----------+
|   Country|
+----------+
| Argentina|
| Australia|
|   Austria|
|   Belgium|
|   Bolivia|
|    Brazil|
|  Bulgaria|
|    Canada|
|     Chile|
|  Colombia|
|Costa Rica|
|   Croatia|
|   Czechia|
|   Denmark|
|   Ecuador|
|   Estonia|
|   Finland|
|    France|
|   Germany|
| Gibraltar|
+----------+
only showing top 20 rows

In [43]:
data.select("Country", "Total Library Size").show()

+----------+------------------+
|   Country|Total Library Size|
+----------+------------------+
| Argentina|              4760|
| Australia|              6114|
|   Austria|              5640|
|   Belgium|              4990|
|   Bolivia|              4991|
|    Brazil|              4972|
|  Bulgaria|              6797|
|    Canada|              6239|
|     Chile|              4994|
|  Colombia|              4991|
|Costa Rica|              4988|
|   Croatia|              2274|
|   Czechia|              7325|
|   Denmark|              4558|
|   Ecuador|              4992|
|   Estonia|              6456|
|   Finland|              4045|
|    France|              5445|
|   Germany|              5668|
| Gibraltar|              6167|
+----------+------------------+
only showing top 20 rows

In [44]:
data.select("Country", "Total Library Size", "`No. of Movies`").show()

+----------+------------------+-------------+
|   Country|Total Library Size|No. of Movies|
+----------+------------------+-------------+
| Argentina|              4760|         1606|
| Australia|              6114|         2064|
|   Austria|              5640|         1861|
|   Belgium|              4990|         1616|
|   Bolivia|              4991|         1836|
|    Brazil|              4972|         1810|
|  Bulgaria|              6797|         1978|
|    Canada|              6239|         1928|
|     Chile|              4994|         1838|
|  Colombia|              4991|         1835|
|Costa Rica|              4988|         1836|
|   Croatia|              2274|          599|
|   Czechia|              7325|         2091|
|   Denmark|              4558|         1580|
|   Ecuador|              4992|         1837|
|   Estonia|              6456|         1970|
|   Finland|              4045|         1407|
|    France|              5445|         1841|
|   Germany|              5668|         1854|
| Gibraltar|              6167|         2088|
+----------+------------------+-------------+
only showing top 20 rows

# Filter Operation

In [45]:
data.filter(data["Total Library Size"] > 5000).show()

+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|Country_code|  Country|Total Library Size|No. of TV Shows|No. of Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|          au|Australia|              6114|           4050|         2064|                      7.84|                        12.12|                       16.39|
|          at|  Austria|              5640|           3779|         1861|                      9.03|                        14.67|                       20.32|
|          bg| Bulgaria|              6797|           4819|         1978|                      9.03|                        11.29|                       13.54|
|          ca|   Canada|              6239|           4311|         1928|                      7.91|                        11.87|                       15.03|
|          cz|  Czechia|              7325|           5234|         2091|                      8.83|                        11.49|                       14.15|
|          ee|  Estonia|              6456|           4486|         1970|                      9.03|                        11.29|                       13.54|
|          fr|   France|              5445|           3604|         1841|                     10.16|                        15.24|                       20.32|
|          de|  Germany|              5668|           3814|         1854|                      9.03|                        14.67|                       20.32|
|          gi|Gibraltar|              6167|           4079|         2088|                      9.03|                        14.67|                       20.32|
|          hu|  Hungary|              6884|           4802|         2082|                      7.64|                        10.71|                       13.78|
|          is|  Iceland|              6387|           4426|         1961|                      9.03|                        14.67|                       20.32|
|          in|    India|              5843|           3718|         2125|                      2.64|                         6.61|                         8.6|
|          ie|  Ireland|              6486|           4515|         1971|                      9.03|                        14.67|                       20.32|
|          il|   Israel|              5713|           3650|         2063|                     10.56|                        15.05|                       19.54|
|          it|    Italy|              5183|           3545|         1638|                      9.03|                        14.67|                       20.32|
|          jp|    Japan|              5475|           3619|         1856|                      8.73|                        13.13|                       17.45|
|          lv|   Latvia|              6450|           4479|         1971|                      9.03|                        11.29|                       13.54|
|          lt|Lithuania|              6462|           4490|         1972|                      9.03|                        11.29|                       13.54|
|          my| Malaysia|              5952|           3565|         2387|                      8.29|                        10.65|                       13.02|
|          mc|   Monaco|              5804|           3806|         1998|                      9.03|                        13.54|                       18.06|
+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
only showing top 20 rows

## Filtering Questions

In [46]:
# Filter all the countries where the number of movies offered are > 2000
data.filter(data["`No. of Movies`"] > 2000).show()

+------------+--------------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|Country_code|       Country|Total Library Size|No. of TV Shows|No. of Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+--------------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|          au|     Australia|              6114|           4050|         2064|                      7.84|                        12.12|                       16.39|
|          cz|       Czechia|              7325|           5234|         2091|                      8.83|                        11.49|                       14.15|
|          gi|     Gibraltar|              6167|           4079|         2088|                      9.03|                        14.67|                       20.32|
|          hu|       Hungary|              6884|           4802|         2082|                      7.64|                        10.71|                       13.78|
|          in|         India|              5843|           3718|         2125|                      2.64|                         6.61|                         8.6|
|          il|        Israel|              5713|           3650|         2063|                     10.56|                        15.05|                       19.54|
|          my|      Malaysia|              5952|           3565|         2387|                      8.29|                        10.65|                       13.02|
|          nz|   New Zealand|              6084|           4003|         2081|                       8.8|                        12.53|                       16.94|
|          ph|   Philippines|              6362|           4154|         2208|                      7.35|                         9.14|                       10.93|
|          ru|        Russia|              5711|           3624|         2087|                      8.13|                        10.84|                       13.56|
|          sg|     Singapore|              6303|           4109|         2194|                      9.51|                        12.81|                       16.11|
|          za|  South Africa|              5736|           3686|         2050|                      6.26|                        10.05|                       12.58|
|          ua|       Ukraine|              5336|           3261|         2075|                      5.64|                         8.46|                       11.29|
|          gb|United Kingdom|              6643|           4551|         2092|                      7.91|                         13.2|                       18.48|
+------------+--------------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+

Filter all the countries where the number of movies offered are > 2000 AND "Cost Per Month - Basic ($)" is greater than 8 per month

In [47]:
# Filter all the countries where the number of movies offered are > 2000
data.filter((data["`Cost Per Month - Basic ($)`"] > 8) & (data["`No. of Movies`"] > 2000)).show()

+------------+-----------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|Country_code|    Country|Total Library Size|No. of TV Shows|No. of Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+-----------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|          cz|    Czechia|              7325|           5234|         2091|                      8.83|                        11.49|                       14.15|
|          gi|  Gibraltar|              6167|           4079|         2088|                      9.03|                        14.67|                       20.32|
|          il|     Israel|              5713|           3650|         2063|                     10.56|                        15.05|                       19.54|
|          my|   Malaysia|              5952|           3565|         2387|                      8.29|                        10.65|                       13.02|
|          nz|New Zealand|              6084|           4003|         2081|                       8.8|                        12.53|                       16.94|
|          ru|     Russia|              5711|           3624|         2087|                      8.13|                        10.84|                       13.56|
|          sg|  Singapore|              6303|           4109|         2194|                      9.51|                        12.81|                       16.11|
+------------+-----------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+

In [52]:
# Filter countries with library size > 5000
data.filter(data["Total Library Size"] > 5000).show()

+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|Country_code|  Country|Total Library Size|No. of TV Shows|No. of Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|          au|Australia|              6114|           4050|         2064|                      7.84|                        12.12|                       16.39|
|          at|  Austria|              5640|           3779|         1861|                      9.03|                        14.67|                       20.32|
|          bg| Bulgaria|              6797|           4819|         1978|                      9.03|                        11.29|                       13.54|
|          ca|   Canada|              6239|           4311|         1928|                      7.91|                        11.87|                       15.03|
|          cz|  Czechia|              7325|           5234|         2091|                      8.83|                        11.49|                       14.15|
|          ee|  Estonia|              6456|           4486|         1970|                      9.03|                        11.29|                       13.54|
|          fr|   France|              5445|           3604|         1841|                     10.16|                        15.24|                       20.32|
|          de|  Germany|              5668|           3814|         1854|                      9.03|                        14.67|                       20.32|
|          gi|Gibraltar|              6167|           4079|         2088|                      9.03|                        14.67|                       20.32|
|          hu|  Hungary|              6884|           4802|         2082|                      7.64|                        10.71|                       13.78|
|          is|  Iceland|              6387|           4426|         1961|                      9.03|                        14.67|                       20.32|
|          in|    India|              5843|           3718|         2125|                      2.64|                         6.61|                         8.6|
|          ie|  Ireland|              6486|           4515|         1971|                      9.03|                        14.67|                       20.32|
|          il|   Israel|              5713|           3650|         2063|                     10.56|                        15.05|                       19.54|
|          it|    Italy|              5183|           3545|         1638|                      9.03|                        14.67|                       20.32|
|          jp|    Japan|              5475|           3619|         1856|                      8.73|                        13.13|                       17.45|
|          lv|   Latvia|              6450|           4479|         1971|                      9.03|                        11.29|                       13.54|
|          lt|Lithuania|              6462|           4490|         1972|                      9.03|                        11.29|                       13.54|
|          my| Malaysia|              5952|           3565|         2387|                      8.29|                        10.65|                       13.02|
|          mc|   Monaco|              5804|           3806|         1998|                      9.03|                        13.54|                       18.06|
+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
only showing top 20 rows

In [53]:
# Select countries with Premium plan cost < $15
data.filter(data["Cost Per Month - Premium ($)"] < 15).show()

+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|Country_code|  Country|Total Library Size|No. of TV Shows|No. of Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|          ar|Argentina|              4760|           3154|         1606|                      3.74|                          6.3|                        9.26|
|          bo|  Bolivia|              4991|           3155|         1836|                      7.99|                        10.99|                       13.99|
|          br|   Brazil|              4972|           3162|         1810|                      4.61|                         7.11|                        9.96|
|          bg| Bulgaria|              6797|           4819|         1978|                      9.03|                        11.29|                       13.54|
|          cl|    Chile|              4994|           3156|         1838|                      7.07|                         9.91|                       12.74|
|          co| Colombia|              4991|           3156|         1835|                      4.31|                         6.86|                        9.93|
|          hr|  Croatia|              2274|           1675|          599|                      9.03|                        11.29|                       13.54|
|          cz|  Czechia|              7325|           5234|         2091|                      8.83|                        11.49|                       14.15|
|          ec|  Ecuador|              4992|           3155|         1837|                      7.99|                        10.99|                       13.99|
|          ee|  Estonia|              6456|           4486|         1970|                      9.03|                        11.29|                       13.54|
|          gt|Guatemala|              4767|           3154|         1613|                      7.99|                        10.99|                       13.99|
|          hn| Honduras|              4989|           3154|         1835|                      7.99|                        10.99|                       13.99|
|          hk|Hong Kong|              4746|           2883|         1863|                      8.08|                         10.0|                       11.93|
|          hu|  Hungary|              6884|           4802|         2082|                      7.64|                        10.71|                       13.78|
|          in|    India|              5843|           3718|         2125|                      2.64|                         6.61|                         8.6|
|          id|Indonesia|              3887|           2449|         1438|                      8.36|                        10.66|                       12.96|
|          lv|   Latvia|              6450|           4479|         1971|                      9.03|                        11.29|                       13.54|
|          lt|Lithuania|              6462|           4490|         1972|                      9.03|                        11.29|                       13.54|
|          my| Malaysia|              5952|           3565|         2387|                      8.29|                        10.65|                       13.02|
|          mx|   Mexico|              4993|           3158|         1835|                      6.62|                        10.43|                       14.24|
+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
only showing top 20 rows

In [57]:
# Filter for more TV shows than movies
data.filter(data["`No. of TV Shows`"] > data["`No. of Movies`"]).show()

+------------+----------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|Country_code|   Country|Total Library Size|No. of TV Shows|No. of Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+----------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|          ar| Argentina|              4760|           3154|         1606|                      3.74|                          6.3|                        9.26|
|          au| Australia|              6114|           4050|         2064|                      7.84|                        12.12|                       16.39|
|          at|   Austria|              5640|           3779|         1861|                      9.03|                        14.67|                       20.32|
|          be|   Belgium|              4990|           3374|         1616|                     10.16|                        15.24|                       20.32|
|          bo|   Bolivia|              4991|           3155|         1836|                      7.99|                        10.99|                       13.99|
|          br|    Brazil|              4972|           3162|         1810|                      4.61|                         7.11|                        9.96|
|          bg|  Bulgaria|              6797|           4819|         1978|                      9.03|                        11.29|                       13.54|
|          ca|    Canada|              6239|           4311|         1928|                      7.91|                        11.87|                       15.03|
|          cl|     Chile|              4994|           3156|         1838|                      7.07|                         9.91|                       12.74|
|          co|  Colombia|              4991|           3156|         1835|                      4.31|                         6.86|                        9.93|
|          cr|Costa Rica|              4988|           3152|         1836|                      8.99|                        12.99|                       15.99|
|          hr|   Croatia|              2274|           1675|          599|                      9.03|                        11.29|                       13.54|
|          cz|   Czechia|              7325|           5234|         2091|                      8.83|                        11.49|                       14.15|
|          dk|   Denmark|              4558|           2978|         1580|                      12.0|                        15.04|                        19.6|
|          ec|   Ecuador|              4992|           3155|         1837|                      7.99|                        10.99|                       13.99|
|          ee|   Estonia|              6456|           4486|         1970|                      9.03|                        11.29|                       13.54|
|          fi|   Finland|              4045|           2638|         1407|                      9.03|                        13.54|                       18.06|
|          fr|    France|              5445|           3604|         1841|                     10.16|                        15.24|                       20.32|
|          de|   Germany|              5668|           3814|         1854|                      9.03|                        14.67|                       20.32|
|          gi| Gibraltar|              6167|           4079|         2088|                      9.03|                        14.67|                       20.32|
+------------+----------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
only showing top 20 rows

# Selection based on a condition

Print 1 for a condition otherwise 0

In [94]:
# all coutries with
data.select("Country",
            F.when(data["Total Library Size"] < 7000 , 1).otherwise(0)
).show()

+----------+-------------------------------------------------------+
|   Country|CASE WHEN (Total Library Size < 7000) THEN 1 ELSE 0 END|
+----------+-------------------------------------------------------+
| Argentina|                                                      1|
| Australia|                                                      1|
|   Austria|                                                      1|
|   Belgium|                                                      1|
|   Bolivia|                                                      1|
|    Brazil|                                                      1|
|  Bulgaria|                                                      1|
|    Canada|                                                      1|
|     Chile|                                                      1|
|  Colombia|                                                      1|
|Costa Rica|                                                      1|
|   Croatia|                                                      1|
|   Czechia|                                                      0|
|   Denmark|                                                      1|
|   Ecuador|                                                      1|
|   Estonia|                                                      1|
|   Finland|                                                      1|
|    France|                                                      1|
|   Germany|                                                      1|
| Gibraltar|                                                      1|
+----------+-------------------------------------------------------+
only showing top 20 rows

# Challenging Questions

1. Find the countries with the lowest no of movies offered and the higest.

2. Determine whether the countries are in the 1st, 2nd, 3rd or 4th quartile of the distribution of values in the no of movies column. We want a column that says 1,2,3, ocr 4 denoting those quartiles respectively

1. First Question

In [95]:
# find min and max
data.describe('No_of_Movies').show()

+-------+------------------+
|summary|      No_of_Movies|
+-------+------------------+
|  count|                65|
|   mean|1795.4615384615386|
| stddev| 327.2797483099835|
|    min|               373|
|    max|              2387|
+-------+------------------+

In [97]:
# can use either filtering or F.when to select the records
# (For Smartasses: Yes there is a way to get it by aggregating) but we haven't covered it yet
data.filter(data["No_of_Movies"] == 373).show()

+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
|Country_code|   Country|Total Library Size|No_of_TVShows|No_of_Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
|          sm|San Marino|              2310|         1937|         373|                      9.03|                        14.67|                       20.32|
+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+

In [98]:
data.filter(data["No_of_Movies"] == 2387).show()

+------------+--------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
|Country_code| Country|Total Library Size|No_of_TVShows|No_of_Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+--------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
|          my|Malaysia|              5952|         3565|        2387|                      8.29|                        10.65|                       13.02|
+------------+--------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+

2. Second Question

Hey Nerds... yes I know you can use custom Lambda Functions to do this.. I get it you're smart.. while we cover them for the other mere mortals in the class in the next lecture, please contend with doing it in Lowly Earthly Peasantly Python

In [104]:
# convert Spark to Python List
no_of_mov_raw = data.select("No_of_Movies").collect()

In [107]:
# convert raw spark types to ints
no_of_mov = []
for i in no_of_mov_raw:
  no_of_mov.append(i[0])

In [108]:
# get quartiles values for the list of ints
import statistics

# Calculate quartiles
q1, q2, q3 = statistics.quantiles(no_of_mov, n=4)

In [ ]:
# all coutries with
data.select("Country",
            F.when(data["No_of_Movies"] < 1622.0 , 1)
            .otherwise(
                F.when( (data["No_of_Movies"] > 1622.0) & (data["No_of_Movies"] < 1841.0), 2).otherwise(
                    F.when( (data["No_of_Movies"] > 1841.0) & (data["No_of_Movies"] < 1986.0), 3).otherwise(4)
                )
            ).alias("Q_of_movies")
).show()

In [129]:
# all coutries with
data.select("Country",
            F.when(data["No_of_Movies"] < 1622.0 , 1)
            .otherwise(
                F.when( (data["No_of_Movies"] > 1622.0) & (data["No_of_Movies"] < 1841.0), 2).otherwise(
                    F.when( (data["No_of_Movies"] > 1841.0) & (data["No_of_Movies"] < 1986.0), 3).otherwise(4)
                )
            ).alias("Q_of_movies")
).show()

+----------+-----------+
|   Country|Q_of_movies|
+----------+-----------+
| Argentina|          1|
| Australia|          4|
|   Austria|          3|
|   Belgium|          1|
|   Bolivia|          2|
|    Brazil|          2|
|  Bulgaria|          3|
|    Canada|          3|
|     Chile|          2|
|  Colombia|          2|
|Costa Rica|          2|
|   Croatia|          1|
|   Czechia|          4|
|   Denmark|          1|
|   Ecuador|          2|
|   Estonia|          3|
|   Finland|          1|
|    France|          4|
|   Germany|          3|
| Gibraltar|          4|
+----------+-----------+
only showing top 20 rows