In [1]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=808a3a3da208a0a66cdcb7dfcb4ca9003a4efd674f61dcc58f8a8b946533385b
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1
The following additional packages will be installed:
  libxtst6 openjdk-8-jre-headless
Suggested packages:
  openjdk-8-demo openjdk-8-source libnss-mdns fonts-dejavu-extra fonts-nanum fonts-ipafont-gothic
  fonts-ipafont-mincho fonts-wqy-microhei fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  libxtst6 openjdk-8-jdk-headless openjdk-8-jre-headless
0 upgraded, 3 newly installed, 0 to remove and 38 not upgraded.
Need to get 39.7 MB of archives.
After this operation, 144 MB of additional disk space will be used.
Selecting previously unselected package libxtst6:amd64.
(Reading database ... 121752 files and directories currently installed.)
Preparing to unpack .../libxtst6_2%3a1.2.3-1build4_amd64.deb ...
Unpacking libxtst6:amd64 (2:1.2.3-1build4) ...
Selecting previously unselected package openjdk-8-jre-headless:amd64.
Preparing to unpack .../openjdk-8-jre-headless_8u392-ga-1~22.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u392-ga-1~22.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../openjdk-8-jdk-headless_8u392-ga-1~22.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u392-ga-1~22.04) ...
Setting up libxtst6:amd64 (2:1.2.3-1build4) ...
Setting up openjdk-8-jre-headless:amd64 (8u392-ga-1~22.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u392-ga-1~22.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

In [6]:
import pyspark
import pyspark.sql  as pyspark_sql
import pyspark.sql.types as pyspark_types
import pyspark.sql.functions  as F
from pyspark import SparkContext, SparkConf
from pyspark.sql.functions import row_number, desc

In [3]:
# create the session
conf = SparkConf().set("spark.ui.port", "4050")

# create the context
sc = pyspark.SparkContext(conf=conf)
spark = pyspark_sql.SparkSession.builder.getOrCreate()

## Data 1

In [4]:
# Sample data
data = [
    ("Alice", 80, 1),
    ("Alice", 75, 2),
    ("Alice", 90, 3),
    ("Bob", 65, 1),
    ("Bob", 70, 2),
    ("Bob", 85, 3),
    ("Charlie", 95, 1),
    ("Charlie", 100, 2),
    ("Charlie", 98, 3),
]

df = spark.createDataFrame(data, ["name", "score", "test_id"])
df.show()

+-------+-----+-------+
|   name|score|test_id|
+-------+-----+-------+
|  Alice|   80|      1|
|  Alice|   75|      2|
|  Alice|   90|      3|
|    Bob|   65|      1|
|    Bob|   70|      2|
|    Bob|   85|      3|
|Charlie|   95|      1|
|Charlie|  100|      2|
|Charlie|   98|      3|
+-------+-----+-------+

In [7]:
# Rank Students by Score Within Each Test

+-------+-----+-------+----+
|   name|score|test_id|rank|
+-------+-----+-------+----+
|Charlie|   95|      1|   1|
|  Alice|   80|      1|   2|
|    Bob|   65|      1|   3|
|Charlie|  100|      2|   1|
|  Alice|   75|      2|   2|
|    Bob|   70|      2|   3|
|Charlie|   98|      3|   1|
|  Alice|   90|      3|   2|
|    Bob|   85|      3|   3|
+-------+-----+-------+----+

## Data 2

In [12]:
# Sample data
data = [
    ("Alice", "CA", 100, "2023-02-10", "Electronics"),
    ("Bob", "TX", 50, "2023-02-15", "Clothing"),
    ("Charlie", "NY", 120, "2023-02-12", "Electronics"),
    ("Alice", "CA", 70, "2023-02-20", "Homeware"),
    ("Bob", "TX", 80, "2023-02-25", "Electronics"),
    ("David", "FL", 90, "2023-02-18", "Sports"),
]

df = spark.createDataFrame(data, ["customer_name", "state", "order_amount", "order_date", "category"])
df.show()

+-------------+-----+------------+----------+-----------+
|customer_name|state|order_amount|order_date|   category|
+-------------+-----+------------+----------+-----------+
|        Alice|   CA|         100|2023-02-10|Electronics|
|          Bob|   TX|          50|2023-02-15|   Clothing|
|      Charlie|   NY|         120|2023-02-12|Electronics|
|        Alice|   CA|          70|2023-02-20|   Homeware|
|          Bob|   TX|          80|2023-02-25|Electronics|
|        David|   FL|          90|2023-02-18|     Sports|
+-------------+-----+------------+----------+-----------+

In [13]:
# find the total number of orders per customer

+-------------+------------+
|customer_name|total_orders|
+-------------+------------+
|      Charlie|           1|
|          Bob|           2|
|        Alice|           2|
|        David|           1|
+-------------+------------+

In [14]:
# calculate the average order amount by category

+-----------+----------------+
|   category|avg_order_amount|
+-----------+----------------+
|Electronics|           100.0|
|   Clothing|            50.0|
|     Sports|            90.0|
|   Homeware|            70.0|
+-----------+----------------+

In [16]:
# identify the top 3 states with the highest total order amount

+-----+------------------+
|state|total_order_amount|
+-----+------------------+
|   CA|               170|
|   TX|               130|
|   NY|               120|
+-----+------------------+

In [18]:
# analyze monthly sales trend

+----+-----+-----------+
|year|month|total_sales|
+----+-----+-----------+
|2023|    2|        510|
+----+-----+-----------+

In [21]:
# Find customers who placed orders in both February and March (assuming data extends to March):

# join DataFrames and filter by customer names present in both

+-------------+
|customer_name|
+-------------+
+-------------+