# Environment Setup and Dataset download
Run the following code snippets to setup the envs

Download the Netflix Subscription dataset from this [link](https://drive.google.com/file/d/1optmRfNfXUFSTWY2l4FAod6aiYl4y91P/view?usp=sharing) using your IIT account and upload to the this session storage.

In [ ]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [3]:
import pyspark
import pyspark.sql  as pyspark_sql
import pyspark.sql.types as pyspark_types
import pyspark.sql.functions  as pyspark_functions
from pyspark import SparkContext, SparkConf

In [4]:
# create the session
conf = SparkConf().set("spark.ui.port", "4050")

# create the context
sc = pyspark.SparkContext(conf=conf)
spark = pyspark_sql.SparkSession.builder.getOrCreate()

# Dataframe Ops

In [131]:
# Load the dataset
data = spark.read.csv("Netflix subscription fee Dec-2021.csv", header=True, inferSchema=True)

In [132]:
data.printSchema()

root
 |-- Country_code: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Total Library Size: integer (nullable = true)
 |-- No_of_TVShows: integer (nullable = true)
 |-- No_of_Movies: integer (nullable = true)
 |-- Cost Per Month - Basic ($): double (nullable = true)
 |-- Cost Per Month - Standard ($): double (nullable = true)
 |-- Cost Per Month - Premium ($): double (nullable = true)

In [133]:
data.show()

+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
|Country_code|   Country|Total Library Size|No_of_TVShows|No_of_Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
|          ar| Argentina|              4760|         3154|        1606|                      3.74|                          6.3|                        9.26|
|          au| Australia|              6114|         4050|        2064|                      7.84|                        12.12|                       16.39|
|          at|   Austria|              5640|         3779|        1861|                      9.03|                        14.67|                       20.32|
|          be|   Belgium|              4990|         3374|        1616|                     10.16|                        15.24|                       20.32|
|          bo|   Bolivia|              4991|         3155|        1836|                      7.99|                        10.99|                       13.99|
|          br|    Brazil|              4972|         3162|        1810|                      4.61|                         7.11|                        9.96|
|          bg|  Bulgaria|              6797|         4819|        1978|                      9.03|                        11.29|                       13.54|
|          ca|    Canada|              6239|         4311|        1928|                      7.91|                        11.87|                       15.03|
|          cl|     Chile|              4994|         3156|        1838|                      7.07|                         9.91|                       12.74|
|          co|  Colombia|              4991|         3156|        1835|                      4.31|                         6.86|                        9.93|
|          cr|Costa Rica|              4988|         3152|        1836|                      8.99|                        12.99|                       15.99|
|          hr|   Croatia|              2274|         1675|         599|                      9.03|                        11.29|                       13.54|
|          cz|   Czechia|              7325|         5234|        2091|                      8.83|                        11.49|                       14.15|
|          dk|   Denmark|              4558|         2978|        1580|                      12.0|                        15.04|                        19.6|
|          ec|   Ecuador|              4992|         3155|        1837|                      7.99|                        10.99|                       13.99|
|          ee|   Estonia|              6456|         4486|        1970|                      9.03|                        11.29|                       13.54|
|          fi|   Finland|              4045|         2638|        1407|                      9.03|                        13.54|                       18.06|
|          fr|    France|              5445|         3604|        1841|                     10.16|                        15.24|                       20.32|
|          de|   Germany|              5668|         3814|        1854|                      9.03|                        14.67|                       20.32|
|          gi| Gibraltar|              6167|         4079|        2088|                      9.03|                        14.67|                       20.32|
+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
only showing top 20 rows

In [134]:
data.printSchema()

root
 |-- Country_code: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Total Library Size: integer (nullable = true)
 |-- No_of_TVShows: integer (nullable = true)
 |-- No_of_Movies: integer (nullable = true)
 |-- Cost Per Month - Basic ($): double (nullable = true)
 |-- Cost Per Month - Standard ($): double (nullable = true)
 |-- Cost Per Month - Premium ($): double (nullable = true)

In [135]:
data.describe('Cost Per Month - Premium ($)').show()

+-------+----------------------------+
|summary|Cost Per Month - Premium ($)|
+-------+----------------------------+
|  count|                          65|
|   mean|          15.612923076923078|
| stddev|           4.040672408104298|
|    min|                        4.02|
|    max|                       26.96|
+-------+----------------------------+

In [ ]:
# used to serialize the data and convert to a regular python variable
data.collect()

In [137]:
from pyspark.sql import functions as F

# Selection of a column

# Filter Operation

## Filtering Questions

In [138]:
# Filter all the countries where the number of movies offered are > 2000

Filter all the countries where the number of movies offered are > 2000 AND "Cost Per Month - Basic ($)" is greater than 8 per month

In [139]:
# Filter all the countries where the number of movies offered are > 2000

In [140]:
# Filter countries with library size > 5000

In [141]:
# Select countries with Premium plan cost < $15

In [142]:
# Filter for more TV shows than movies

# Selection based on a condition

Print 1 for a condition otherwise 0

In [143]:
# all coutries with library size < 7000

# Challenging Questions

1. Find the countries with the lowest no of movies offered and the higest.

2. Determine whether the countries are in the 1st, 2nd, 3rd or 4th quartile of the distribution of values in the no of movies column. We want a column that says 1,2,3, ocr 4 denoting those quartiles respectively

1. First Question

In [144]:
# find min and max

In [145]:
# can use either filtering or F.when to select the records
# (For Smartasses: Yes there is a way to get it by aggregating) but we haven't covered it yet

2. Second Question

Hey Nerds... yes I know you can use custom Lambda Functions to do this.. I get it you're smart.. while we cover them for the other mere mortals in the class in the next lecture, please contend with doing it in Lowly Earthly Peasantly Python

In [146]:
# convert Spark to Python List

In [147]:
# convert raw spark types to ints

In [148]:
# get quartiles values for the list of ints
import statistics

# Calculate quartiles

In [149]:
# all coutries with quartiles of no of movies