# Environment Setup and Dataset download
Run the following code snippets to setup the envs

Download the Netflix Subscription dataset from this [link](https://drive.google.com/file/d/1optmRfNfXUFSTWY2l4FAod6aiYl4y91P/view?usp=sharing) using your IIT account and upload to the this session storage.

In [ ]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [2]:
import pyspark
import pyspark.sql  as pyspark_sql
import pyspark.sql.types as pyspark_types
import pyspark.sql.functions  as pyspark_functions
from pyspark import SparkContext, SparkConf

In [3]:
# create the session
conf = SparkConf().set("spark.ui.port", "4050")

# create the context
sc = pyspark.SparkContext(conf=conf)
spark = pyspark_sql.SparkSession.builder.getOrCreate()

# Dataframe Ops

In [5]:
# Load the dataset
data = spark.read.csv("Netflix subscription fee Dec-2021.csv", header=True, inferSchema=True)

In [6]:
data.printSchema()

root
 |-- Country_code: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Total Library Size: integer (nullable = true)
 |-- No_of_TVShows: integer (nullable = true)
 |-- No_of_Movies: integer (nullable = true)
 |-- Cost Per Month - Basic ($): double (nullable = true)
 |-- Cost Per Month - Standard ($): double (nullable = true)
 |-- Cost Per Month - Premium ($): double (nullable = true)

In [7]:
data.show()

+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
|Country_code|   Country|Total Library Size|No_of_TVShows|No_of_Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
|          ar| Argentina|              4760|         3154|        1606|                      3.74|                          6.3|                        9.26|
|          au| Australia|              6114|         4050|        2064|                      7.84|                        12.12|                       16.39|
|          at|   Austria|              5640|         3779|        1861|                      9.03|                        14.67|                       20.32|
|          be|   Belgium|              4990|         3374|        1616|                     10.16|                        15.24|                       20.32|
|          bo|   Bolivia|              4991|         3155|        1836|                      7.99|                        10.99|                       13.99|
|          br|    Brazil|              4972|         3162|        1810|                      4.61|                         7.11|                        9.96|
|          bg|  Bulgaria|              6797|         4819|        1978|                      9.03|                        11.29|                       13.54|
|          ca|    Canada|              6239|         4311|        1928|                      7.91|                        11.87|                       15.03|
|          cl|     Chile|              4994|         3156|        1838|                      7.07|                         9.91|                       12.74|
|          co|  Colombia|              4991|         3156|        1835|                      4.31|                         6.86|                        9.93|
|          cr|Costa Rica|              4988|         3152|        1836|                      8.99|                        12.99|                       15.99|
|          hr|   Croatia|              2274|         1675|         599|                      9.03|                        11.29|                       13.54|
|          cz|   Czechia|              7325|         5234|        2091|                      8.83|                        11.49|                       14.15|
|          dk|   Denmark|              4558|         2978|        1580|                      12.0|                        15.04|                        19.6|
|          ec|   Ecuador|              4992|         3155|        1837|                      7.99|                        10.99|                       13.99|
|          ee|   Estonia|              6456|         4486|        1970|                      9.03|                        11.29|                       13.54|
|          fi|   Finland|              4045|         2638|        1407|                      9.03|                        13.54|                       18.06|
|          fr|    France|              5445|         3604|        1841|                     10.16|                        15.24|                       20.32|
|          de|   Germany|              5668|         3814|        1854|                      9.03|                        14.67|                       20.32|
|          gi| Gibraltar|              6167|         4079|        2088|                      9.03|                        14.67|                       20.32|
+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
only showing top 20 rows

In [8]:
data.printSchema()

root
 |-- Country_code: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Total Library Size: integer (nullable = true)
 |-- No_of_TVShows: integer (nullable = true)
 |-- No_of_Movies: integer (nullable = true)
 |-- Cost Per Month - Basic ($): double (nullable = true)
 |-- Cost Per Month - Standard ($): double (nullable = true)
 |-- Cost Per Month - Premium ($): double (nullable = true)

In [9]:
data.describe('Cost Per Month - Premium ($)').show()

+-------+----------------------------+
|summary|Cost Per Month - Premium ($)|
+-------+----------------------------+
|  count|                          65|
|   mean|          15.612923076923078|
| stddev|           4.040672408104298|
|    min|                        4.02|
|    max|                       26.96|
+-------+----------------------------+

In [10]:
# used to serialize the data and convert to a regular python variable
data.collect()

[Row(Country_code='ar', Country='Argentina', Total Library Size=4760, No_of_TVShows=3154, No_of_Movies=1606, Cost Per Month - Basic ($)=3.74, Cost Per Month - Standard ($)=6.3, Cost Per Month - Premium ($)=9.26),
 Row(Country_code='au', Country='Australia', Total Library Size=6114, No_of_TVShows=4050, No_of_Movies=2064, Cost Per Month - Basic ($)=7.84, Cost Per Month - Standard ($)=12.12, Cost Per Month - Premium ($)=16.39),
 Row(Country_code='at', Country='Austria', Total Library Size=5640, No_of_TVShows=3779, No_of_Movies=1861, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=14.67, Cost Per Month - Premium ($)=20.32),
 Row(Country_code='be', Country='Belgium', Total Library Size=4990, No_of_TVShows=3374, No_of_Movies=1616, Cost Per Month - Basic ($)=10.16, Cost Per Month - Standard ($)=15.24, Cost Per Month - Premium ($)=20.32),
 Row(Country_code='bo', Country='Bolivia', Total Library Size=4991, No_of_TVShows=3155, No_of_Movies=1836, Cost Per Month - Basic ($)=7.99, Cost Per Month - Standard ($)=10.99, Cost Per Month - Premium ($)=13.99),
 Row(Country_code='br', Country='Brazil', Total Library Size=4972, No_of_TVShows=3162, No_of_Movies=1810, Cost Per Month - Basic ($)=4.61, Cost Per Month - Standard ($)=7.11, Cost Per Month - Premium ($)=9.96),
 Row(Country_code='bg', Country='Bulgaria', Total Library Size=6797, No_of_TVShows=4819, No_of_Movies=1978, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=11.29, Cost Per Month - Premium ($)=13.54),
 Row(Country_code='ca', Country='Canada', Total Library Size=6239, No_of_TVShows=4311, No_of_Movies=1928, Cost Per Month - Basic ($)=7.91, Cost Per Month - Standard ($)=11.87, Cost Per Month - Premium ($)=15.03),
 Row(Country_code='cl', Country='Chile', Total Library Size=4994, No_of_TVShows=3156, No_of_Movies=1838, Cost Per Month - Basic ($)=7.07, Cost Per Month - Standard ($)=9.91, Cost Per Month - Premium ($)=12.74),
 Row(Country_code='co', Country='Colombia', Total Library Size=4991, No_of_TVShows=3156, No_of_Movies=1835, Cost Per Month - Basic ($)=4.31, Cost Per Month - Standard ($)=6.86, Cost Per Month - Premium ($)=9.93),
 Row(Country_code='cr', Country='Costa Rica', Total Library Size=4988, No_of_TVShows=3152, No_of_Movies=1836, Cost Per Month - Basic ($)=8.99, Cost Per Month - Standard ($)=12.99, Cost Per Month - Premium ($)=15.99),
 Row(Country_code='hr', Country='Croatia', Total Library Size=2274, No_of_TVShows=1675, No_of_Movies=599, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=11.29, Cost Per Month - Premium ($)=13.54),
 Row(Country_code='cz', Country='Czechia', Total Library Size=7325, No_of_TVShows=5234, No_of_Movies=2091, Cost Per Month - Basic ($)=8.83, Cost Per Month - Standard ($)=11.49, Cost Per Month - Premium ($)=14.15),
 Row(Country_code='dk', Country='Denmark', Total Library Size=4558, No_of_TVShows=2978, No_of_Movies=1580, Cost Per Month - Basic ($)=12.0, Cost Per Month - Standard ($)=15.04, Cost Per Month - Premium ($)=19.6),
 Row(Country_code='ec', Country='Ecuador', Total Library Size=4992, No_of_TVShows=3155, No_of_Movies=1837, Cost Per Month - Basic ($)=7.99, Cost Per Month - Standard ($)=10.99, Cost Per Month - Premium ($)=13.99),
 Row(Country_code='ee', Country='Estonia', Total Library Size=6456, No_of_TVShows=4486, No_of_Movies=1970, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=11.29, Cost Per Month - Premium ($)=13.54),
 Row(Country_code='fi', Country='Finland', Total Library Size=4045, No_of_TVShows=2638, No_of_Movies=1407, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=13.54, Cost Per Month - Premium ($)=18.06),
 Row(Country_code='fr', Country='France', Total Library Size=5445, No_of_TVShows=3604, No_of_Movies=1841, Cost Per Month - Basic ($)=10.16, Cost Per Month - Standard ($)=15.24, Cost Per Month - Premium ($)=20.32),
 Row(Country_code='de', Country='Germany', Total Library Size=5668, No_of_TVShows=3814, No_of_Movies=1854, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=14.67, Cost Per Month - Premium ($)=20.32),
 Row(Country_code='gi', Country='Gibraltar', Total Library Size=6167, No_of_TVShows=4079, No_of_Movies=2088, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=14.67, Cost Per Month - Premium ($)=20.32),
 Row(Country_code='gr', Country='Greece', Total Library Size=4772, No_of_TVShows=3344, No_of_Movies=1428, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=12.42, Cost Per Month - Premium ($)=15.8),
 Row(Country_code='gt', Country='Guatemala', Total Library Size=4767, No_of_TVShows=3154, No_of_Movies=1613, Cost Per Month - Basic ($)=7.99, Cost Per Month - Standard ($)=10.99, Cost Per Month - Premium ($)=13.99),
 Row(Country_code='hn', Country='Honduras', Total Library Size=4989, No_of_TVShows=3154, No_of_Movies=1835, Cost Per Month - Basic ($)=7.99, Cost Per Month - Standard ($)=10.99, Cost Per Month - Premium ($)=13.99),
 Row(Country_code='hk', Country='Hong Kong', Total Library Size=4746, No_of_TVShows=2883, No_of_Movies=1863, Cost Per Month - Basic ($)=8.08, Cost Per Month - Standard ($)=10.0, Cost Per Month - Premium ($)=11.93),
 Row(Country_code='hu', Country='Hungary', Total Library Size=6884, No_of_TVShows=4802, No_of_Movies=2082, Cost Per Month - Basic ($)=7.64, Cost Per Month - Standard ($)=10.71, Cost Per Month - Premium ($)=13.78),
 Row(Country_code='is', Country='Iceland', Total Library Size=6387, No_of_TVShows=4426, No_of_Movies=1961, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=14.67, Cost Per Month - Premium ($)=20.32),
 Row(Country_code='in', Country='India', Total Library Size=5843, No_of_TVShows=3718, No_of_Movies=2125, Cost Per Month - Basic ($)=2.64, Cost Per Month - Standard ($)=6.61, Cost Per Month - Premium ($)=8.6),
 Row(Country_code='id', Country='Indonesia', Total Library Size=3887, No_of_TVShows=2449, No_of_Movies=1438, Cost Per Month - Basic ($)=8.36, Cost Per Month - Standard ($)=10.66, Cost Per Month - Premium ($)=12.96),
 Row(Country_code='ie', Country='Ireland', Total Library Size=6486, No_of_TVShows=4515, No_of_Movies=1971, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=14.67, Cost Per Month - Premium ($)=20.32),
 Row(Country_code='il', Country='Israel', Total Library Size=5713, No_of_TVShows=3650, No_of_Movies=2063, Cost Per Month - Basic ($)=10.56, Cost Per Month - Standard ($)=15.05, Cost Per Month - Premium ($)=19.54),
 Row(Country_code='it', Country='Italy', Total Library Size=5183, No_of_TVShows=3545, No_of_Movies=1638, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=14.67, Cost Per Month - Premium ($)=20.32),
 Row(Country_code='jp', Country='Japan', Total Library Size=5475, No_of_TVShows=3619, No_of_Movies=1856, Cost Per Month - Basic ($)=8.73, Cost Per Month - Standard ($)=13.13, Cost Per Month - Premium ($)=17.45),
 Row(Country_code='lv', Country='Latvia', Total Library Size=6450, No_of_TVShows=4479, No_of_Movies=1971, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=11.29, Cost Per Month - Premium ($)=13.54),
 Row(Country_code='li', Country='Liechtenstein', Total Library Size=3048, No_of_TVShows=1712, No_of_Movies=1336, Cost Per Month - Basic ($)=12.88, Cost Per Month - Standard ($)=20.46, Cost Per Month - Premium ($)=26.96),
 Row(Country_code='lt', Country='Lithuania', Total Library Size=6462, No_of_TVShows=4490, No_of_Movies=1972, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=11.29, Cost Per Month - Premium ($)=13.54),
 Row(Country_code='my', Country='Malaysia', Total Library Size=5952, No_of_TVShows=3565, No_of_Movies=2387, Cost Per Month - Basic ($)=8.29, Cost Per Month - Standard ($)=10.65, Cost Per Month - Premium ($)=13.02),
 Row(Country_code='mx', Country='Mexico', Total Library Size=4993, No_of_TVShows=3158, No_of_Movies=1835, Cost Per Month - Basic ($)=6.62, Cost Per Month - Standard ($)=10.43, Cost Per Month - Premium ($)=14.24),
 Row(Country_code='md', Country='Moldova', Total Library Size=3937, No_of_TVShows=2473, No_of_Movies=1464, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=11.29, Cost Per Month - Premium ($)=13.54),
 Row(Country_code='mc', Country='Monaco', Total Library Size=5804, No_of_TVShows=3806, No_of_Movies=1998, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=13.54, Cost Per Month - Premium ($)=18.06),
 Row(Country_code='nl', Country='Netherlands', Total Library Size=5376, No_of_TVShows=3779, No_of_Movies=1597, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=13.54, Cost Per Month - Premium ($)=18.06),
 Row(Country_code='nz', Country='New Zealand', Total Library Size=6084, No_of_TVShows=4003, No_of_Movies=2081, Cost Per Month - Basic ($)=8.8, Cost Per Month - Standard ($)=12.53, Cost Per Month - Premium ($)=16.94),
 Row(Country_code='no', Country='Norway', Total Library Size=4528, No_of_TVShows=2955, No_of_Movies=1573, Cost Per Month - Basic ($)=9.94, Cost Per Month - Standard ($)=12.17, Cost Per Month - Premium ($)=17.75),
 Row(Country_code='py', Country='Paraguay', Total Library Size=4797, No_of_TVShows=3155, No_of_Movies=1642, Cost Per Month - Basic ($)=8.29, Cost Per Month - Standard ($)=11.49, Cost Per Month - Premium ($)=14.69),
 Row(Country_code='pe', Country='Peru', Total Library Size=4986, No_of_TVShows=3155, No_of_Movies=1831, Cost Per Month - Basic ($)=6.11, Cost Per Month - Standard ($)=8.56, Cost Per Month - Premium ($)=11.01),
 Row(Country_code='ph', Country='Philippines', Total Library Size=6362, No_of_TVShows=4154, No_of_Movies=2208, Cost Per Month - Basic ($)=7.35, Cost Per Month - Standard ($)=9.14, Cost Per Month - Premium ($)=10.93),
 Row(Country_code='pl', Country='Poland', Total Library Size=5109, No_of_TVShows=3512, No_of_Movies=1597, Cost Per Month - Basic ($)=7.13, Cost Per Month - Standard ($)=10.58, Cost Per Month - Premium ($)=14.76),
 Row(Country_code='pt', Country='Portugal', Total Library Size=5047, No_of_TVShows=3419, No_of_Movies=1628, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=13.54, Cost Per Month - Premium ($)=18.06),
 Row(Country_code='ro', Country='Romania', Total Library Size=5303, No_of_TVShows=3832, No_of_Movies=1471, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=11.29, Cost Per Month - Premium ($)=13.54),
 Row(Country_code='ru', Country='Russia', Total Library Size=5711, No_of_TVShows=3624, No_of_Movies=2087, Cost Per Month - Basic ($)=8.13, Cost Per Month - Standard ($)=10.84, Cost Per Month - Premium ($)=13.56),
 Row(Country_code='sm', Country='San Marino', Total Library Size=2310, No_of_TVShows=1937, No_of_Movies=373, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=14.67, Cost Per Month - Premium ($)=20.32),
 Row(Country_code='sg', Country='Singapore', Total Library Size=6303, No_of_TVShows=4109, No_of_Movies=2194, Cost Per Month - Basic ($)=9.51, Cost Per Month - Standard ($)=12.81, Cost Per Month - Premium ($)=16.11),
 Row(Country_code='sk', Country='Slovakia', Total Library Size=7035, No_of_TVShows=5055, No_of_Movies=1980, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=11.29, Cost Per Month - Premium ($)=13.54),
 Row(Country_code='za', Country='South Africa', Total Library Size=5736, No_of_TVShows=3686, No_of_Movies=2050, Cost Per Month - Basic ($)=6.26, Cost Per Month - Standard ($)=10.05, Cost Per Month - Premium ($)=12.58),
 Row(Country_code='kr', Country='South Korea', Total Library Size=5195, No_of_TVShows=3334, No_of_Movies=1861, Cost Per Month - Basic ($)=8.07, Cost Per Month - Standard ($)=11.47, Cost Per Month - Premium ($)=14.45),
 Row(Country_code='es', Country='Spain', Total Library Size=5229, No_of_TVShows=3536, No_of_Movies=1693, Cost Per Month - Basic ($)=9.03, Cost Per Month - Standard ($)=14.67, Cost Per Month - Premium ($)=20.32),
 Row(Country_code='se', Country='Sweden', Total Library Size=4361, No_of_TVShows=2973, No_of_Movies=1388, Cost Per Month - Basic ($)=10.9, Cost Per Month - Standard ($)=14.2, Cost Per Month - Premium ($)=19.7),
 Row(Country_code='ch', Country='Switzerland', Total Library Size=5506, No_of_TVShows=3654, No_of_Movies=1852, Cost Per Month - Basic ($)=12.88, Cost Per Month - Standard ($)=20.46, Cost Per Month - Premium ($)=26.96),
 Row(Country_code='tw', Country='Taiwan', Total Library Size=5105, No_of_TVShows=3134, No_of_Movies=1971, Cost Per Month - Basic ($)=9.74, Cost Per Month - Standard ($)=11.9, Cost Per Month - Premium ($)=14.07),
 Row(Country_code='th', Country='Thailand', Total Library Size=4948, No_of_TVShows=2977, No_of_Movies=1971, Cost Per Month - Basic ($)=8.34, Cost Per Month - Standard ($)=10.43, Cost Per Month - Premium ($)=12.52),
 Row(Country_code='tr', Country='Turkey', Total Library Size=4639, No_of_TVShows=2930, No_of_Movies=1709, Cost Per Month - Basic ($)=1.97, Cost Per Month - Standard ($)=3.0, Cost Per Month - Premium ($)=4.02),
 Row(Country_code='ua', Country='Ukraine', Total Library Size=5336, No_of_TVShows=3261, No_of_Movies=2075, Cost Per Month - Basic ($)=5.64, Cost Per Month - Standard ($)=8.46, Cost Per Month - Premium ($)=11.29),
 Row(Country_code='gb', Country='United Kingdom', Total Library Size=6643, No_of_TVShows=4551, No_of_Movies=2092, Cost Per Month - Basic ($)=7.91, Cost Per Month - Standard ($)=13.2, Cost Per Month - Premium ($)=18.48),
 Row(Country_code='us', Country='United States', Total Library Size=5818, No_of_TVShows=3826, No_of_Movies=1992, Cost Per Month - Basic ($)=8.99, Cost Per Month - Standard ($)=13.99, Cost Per Month - Premium ($)=17.99),
 Row(Country_code='uy', Country='Uruguay', Total Library Size=4989, No_of_TVShows=3154, No_of_Movies=1835, Cost Per Month - Basic ($)=8.99, Cost Per Month - Standard ($)=12.99, Cost Per Month - Premium ($)=15.99),
 Row(Country_code='ve', Country='Venezuela', Total Library Size=4797, No_of_TVShows=3154, No_of_Movies=1643, Cost Per Month - Basic ($)=7.99, Cost Per Month - Standard ($)=10.99, Cost Per Month - Premium ($)=13.99)]

In [11]:
from pyspark.sql import functions as F

# Week 1

Col Selection, filtering and Simple dataframe operations![hqdefault.jpg]()

## Selection of a column

In [12]:
data.select("Country").show()

+----------+
|   Country|
+----------+
| Argentina|
| Australia|
|   Austria|
|   Belgium|
|   Bolivia|
|    Brazil|
|  Bulgaria|
|    Canada|
|     Chile|
|  Colombia|
|Costa Rica|
|   Croatia|
|   Czechia|
|   Denmark|
|   Ecuador|
|   Estonia|
|   Finland|
|    France|
|   Germany|
| Gibraltar|
+----------+
only showing top 20 rows

In [13]:
data.select("Country", "Total Library Size").show()

+----------+------------------+
|   Country|Total Library Size|
+----------+------------------+
| Argentina|              4760|
| Australia|              6114|
|   Austria|              5640|
|   Belgium|              4990|
|   Bolivia|              4991|
|    Brazil|              4972|
|  Bulgaria|              6797|
|    Canada|              6239|
|     Chile|              4994|
|  Colombia|              4991|
|Costa Rica|              4988|
|   Croatia|              2274|
|   Czechia|              7325|
|   Denmark|              4558|
|   Ecuador|              4992|
|   Estonia|              6456|
|   Finland|              4045|
|    France|              5445|
|   Germany|              5668|
| Gibraltar|              6167|
+----------+------------------+
only showing top 20 rows

In [ ]:
data.select("Country", "Total Library Size", "`No. of Movies`").show()

+----------+------------------+-------------+
|   Country|Total Library Size|No. of Movies|
+----------+------------------+-------------+
| Argentina|              4760|         1606|
| Australia|              6114|         2064|
|   Austria|              5640|         1861|
|   Belgium|              4990|         1616|
|   Bolivia|              4991|         1836|
|    Brazil|              4972|         1810|
|  Bulgaria|              6797|         1978|
|    Canada|              6239|         1928|
|     Chile|              4994|         1838|
|  Colombia|              4991|         1835|
|Costa Rica|              4988|         1836|
|   Croatia|              2274|          599|
|   Czechia|              7325|         2091|
|   Denmark|              4558|         1580|
|   Ecuador|              4992|         1837|
|   Estonia|              6456|         1970|
|   Finland|              4045|         1407|
|    France|              5445|         1841|
|   Germany|              5668|         1854|
| Gibraltar|              6167|         2088|
+----------+------------------+-------------+
only showing top 20 rows

## Filter Operation

In [ ]:
data.filter(data["Total Library Size"] > 5000).show()

+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|Country_code|  Country|Total Library Size|No. of TV Shows|No. of Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|          au|Australia|              6114|           4050|         2064|                      7.84|                        12.12|                       16.39|
|          at|  Austria|              5640|           3779|         1861|                      9.03|                        14.67|                       20.32|
|          bg| Bulgaria|              6797|           4819|         1978|                      9.03|                        11.29|                       13.54|
|          ca|   Canada|              6239|           4311|         1928|                      7.91|                        11.87|                       15.03|
|          cz|  Czechia|              7325|           5234|         2091|                      8.83|                        11.49|                       14.15|
|          ee|  Estonia|              6456|           4486|         1970|                      9.03|                        11.29|                       13.54|
|          fr|   France|              5445|           3604|         1841|                     10.16|                        15.24|                       20.32|
|          de|  Germany|              5668|           3814|         1854|                      9.03|                        14.67|                       20.32|
|          gi|Gibraltar|              6167|           4079|         2088|                      9.03|                        14.67|                       20.32|
|          hu|  Hungary|              6884|           4802|         2082|                      7.64|                        10.71|                       13.78|
|          is|  Iceland|              6387|           4426|         1961|                      9.03|                        14.67|                       20.32|
|          in|    India|              5843|           3718|         2125|                      2.64|                         6.61|                         8.6|
|          ie|  Ireland|              6486|           4515|         1971|                      9.03|                        14.67|                       20.32|
|          il|   Israel|              5713|           3650|         2063|                     10.56|                        15.05|                       19.54|
|          it|    Italy|              5183|           3545|         1638|                      9.03|                        14.67|                       20.32|
|          jp|    Japan|              5475|           3619|         1856|                      8.73|                        13.13|                       17.45|
|          lv|   Latvia|              6450|           4479|         1971|                      9.03|                        11.29|                       13.54|
|          lt|Lithuania|              6462|           4490|         1972|                      9.03|                        11.29|                       13.54|
|          my| Malaysia|              5952|           3565|         2387|                      8.29|                        10.65|                       13.02|
|          mc|   Monaco|              5804|           3806|         1998|                      9.03|                        13.54|                       18.06|
+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
only showing top 20 rows

### Filtering Questions

In [ ]:
# Filter all the countries where the number of movies offered are > 2000
data.filter(data["`No. of Movies`"] > 2000).show()

+------------+--------------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|Country_code|       Country|Total Library Size|No. of TV Shows|No. of Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+--------------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|          au|     Australia|              6114|           4050|         2064|                      7.84|                        12.12|                       16.39|
|          cz|       Czechia|              7325|           5234|         2091|                      8.83|                        11.49|                       14.15|
|          gi|     Gibraltar|              6167|           4079|         2088|                      9.03|                        14.67|                       20.32|
|          hu|       Hungary|              6884|           4802|         2082|                      7.64|                        10.71|                       13.78|
|          in|         India|              5843|           3718|         2125|                      2.64|                         6.61|                         8.6|
|          il|        Israel|              5713|           3650|         2063|                     10.56|                        15.05|                       19.54|
|          my|      Malaysia|              5952|           3565|         2387|                      8.29|                        10.65|                       13.02|
|          nz|   New Zealand|              6084|           4003|         2081|                       8.8|                        12.53|                       16.94|
|          ph|   Philippines|              6362|           4154|         2208|                      7.35|                         9.14|                       10.93|
|          ru|        Russia|              5711|           3624|         2087|                      8.13|                        10.84|                       13.56|
|          sg|     Singapore|              6303|           4109|         2194|                      9.51|                        12.81|                       16.11|
|          za|  South Africa|              5736|           3686|         2050|                      6.26|                        10.05|                       12.58|
|          ua|       Ukraine|              5336|           3261|         2075|                      5.64|                         8.46|                       11.29|
|          gb|United Kingdom|              6643|           4551|         2092|                      7.91|                         13.2|                       18.48|
+------------+--------------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+

Filter all the countries where the number of movies offered are > 2000 AND "Cost Per Month - Basic ($)" is greater than 8 per month

In [ ]:
# Filter all the countries where the number of movies offered are > 2000
data.filter((data["`Cost Per Month - Basic ($)`"] > 8) & (data["`No. of Movies`"] > 2000)).show()

+------------+-----------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|Country_code|    Country|Total Library Size|No. of TV Shows|No. of Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+-----------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|          cz|    Czechia|              7325|           5234|         2091|                      8.83|                        11.49|                       14.15|
|          gi|  Gibraltar|              6167|           4079|         2088|                      9.03|                        14.67|                       20.32|
|          il|     Israel|              5713|           3650|         2063|                     10.56|                        15.05|                       19.54|
|          my|   Malaysia|              5952|           3565|         2387|                      8.29|                        10.65|                       13.02|
|          nz|New Zealand|              6084|           4003|         2081|                       8.8|                        12.53|                       16.94|
|          ru|     Russia|              5711|           3624|         2087|                      8.13|                        10.84|                       13.56|
|          sg|  Singapore|              6303|           4109|         2194|                      9.51|                        12.81|                       16.11|
+------------+-----------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+

In [ ]:
# Filter countries with library size > 5000
data.filter(data["Total Library Size"] > 5000).show()

+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|Country_code|  Country|Total Library Size|No. of TV Shows|No. of Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|          au|Australia|              6114|           4050|         2064|                      7.84|                        12.12|                       16.39|
|          at|  Austria|              5640|           3779|         1861|                      9.03|                        14.67|                       20.32|
|          bg| Bulgaria|              6797|           4819|         1978|                      9.03|                        11.29|                       13.54|
|          ca|   Canada|              6239|           4311|         1928|                      7.91|                        11.87|                       15.03|
|          cz|  Czechia|              7325|           5234|         2091|                      8.83|                        11.49|                       14.15|
|          ee|  Estonia|              6456|           4486|         1970|                      9.03|                        11.29|                       13.54|
|          fr|   France|              5445|           3604|         1841|                     10.16|                        15.24|                       20.32|
|          de|  Germany|              5668|           3814|         1854|                      9.03|                        14.67|                       20.32|
|          gi|Gibraltar|              6167|           4079|         2088|                      9.03|                        14.67|                       20.32|
|          hu|  Hungary|              6884|           4802|         2082|                      7.64|                        10.71|                       13.78|
|          is|  Iceland|              6387|           4426|         1961|                      9.03|                        14.67|                       20.32|
|          in|    India|              5843|           3718|         2125|                      2.64|                         6.61|                         8.6|
|          ie|  Ireland|              6486|           4515|         1971|                      9.03|                        14.67|                       20.32|
|          il|   Israel|              5713|           3650|         2063|                     10.56|                        15.05|                       19.54|
|          it|    Italy|              5183|           3545|         1638|                      9.03|                        14.67|                       20.32|
|          jp|    Japan|              5475|           3619|         1856|                      8.73|                        13.13|                       17.45|
|          lv|   Latvia|              6450|           4479|         1971|                      9.03|                        11.29|                       13.54|
|          lt|Lithuania|              6462|           4490|         1972|                      9.03|                        11.29|                       13.54|
|          my| Malaysia|              5952|           3565|         2387|                      8.29|                        10.65|                       13.02|
|          mc|   Monaco|              5804|           3806|         1998|                      9.03|                        13.54|                       18.06|
+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
only showing top 20 rows

In [ ]:
# Select countries with Premium plan cost < $15
data.filter(data["Cost Per Month - Premium ($)"] < 15).show()

+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|Country_code|  Country|Total Library Size|No. of TV Shows|No. of Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|          ar|Argentina|              4760|           3154|         1606|                      3.74|                          6.3|                        9.26|
|          bo|  Bolivia|              4991|           3155|         1836|                      7.99|                        10.99|                       13.99|
|          br|   Brazil|              4972|           3162|         1810|                      4.61|                         7.11|                        9.96|
|          bg| Bulgaria|              6797|           4819|         1978|                      9.03|                        11.29|                       13.54|
|          cl|    Chile|              4994|           3156|         1838|                      7.07|                         9.91|                       12.74|
|          co| Colombia|              4991|           3156|         1835|                      4.31|                         6.86|                        9.93|
|          hr|  Croatia|              2274|           1675|          599|                      9.03|                        11.29|                       13.54|
|          cz|  Czechia|              7325|           5234|         2091|                      8.83|                        11.49|                       14.15|
|          ec|  Ecuador|              4992|           3155|         1837|                      7.99|                        10.99|                       13.99|
|          ee|  Estonia|              6456|           4486|         1970|                      9.03|                        11.29|                       13.54|
|          gt|Guatemala|              4767|           3154|         1613|                      7.99|                        10.99|                       13.99|
|          hn| Honduras|              4989|           3154|         1835|                      7.99|                        10.99|                       13.99|
|          hk|Hong Kong|              4746|           2883|         1863|                      8.08|                         10.0|                       11.93|
|          hu|  Hungary|              6884|           4802|         2082|                      7.64|                        10.71|                       13.78|
|          in|    India|              5843|           3718|         2125|                      2.64|                         6.61|                         8.6|
|          id|Indonesia|              3887|           2449|         1438|                      8.36|                        10.66|                       12.96|
|          lv|   Latvia|              6450|           4479|         1971|                      9.03|                        11.29|                       13.54|
|          lt|Lithuania|              6462|           4490|         1972|                      9.03|                        11.29|                       13.54|
|          my| Malaysia|              5952|           3565|         2387|                      8.29|                        10.65|                       13.02|
|          mx|   Mexico|              4993|           3158|         1835|                      6.62|                        10.43|                       14.24|
+------------+---------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
only showing top 20 rows

In [ ]:
# Filter for more TV shows than movies
data.filter(data["`No. of TV Shows`"] > data["`No. of Movies`"]).show()

+------------+----------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|Country_code|   Country|Total Library Size|No. of TV Shows|No. of Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+----------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
|          ar| Argentina|              4760|           3154|         1606|                      3.74|                          6.3|                        9.26|
|          au| Australia|              6114|           4050|         2064|                      7.84|                        12.12|                       16.39|
|          at|   Austria|              5640|           3779|         1861|                      9.03|                        14.67|                       20.32|
|          be|   Belgium|              4990|           3374|         1616|                     10.16|                        15.24|                       20.32|
|          bo|   Bolivia|              4991|           3155|         1836|                      7.99|                        10.99|                       13.99|
|          br|    Brazil|              4972|           3162|         1810|                      4.61|                         7.11|                        9.96|
|          bg|  Bulgaria|              6797|           4819|         1978|                      9.03|                        11.29|                       13.54|
|          ca|    Canada|              6239|           4311|         1928|                      7.91|                        11.87|                       15.03|
|          cl|     Chile|              4994|           3156|         1838|                      7.07|                         9.91|                       12.74|
|          co|  Colombia|              4991|           3156|         1835|                      4.31|                         6.86|                        9.93|
|          cr|Costa Rica|              4988|           3152|         1836|                      8.99|                        12.99|                       15.99|
|          hr|   Croatia|              2274|           1675|          599|                      9.03|                        11.29|                       13.54|
|          cz|   Czechia|              7325|           5234|         2091|                      8.83|                        11.49|                       14.15|
|          dk|   Denmark|              4558|           2978|         1580|                      12.0|                        15.04|                        19.6|
|          ec|   Ecuador|              4992|           3155|         1837|                      7.99|                        10.99|                       13.99|
|          ee|   Estonia|              6456|           4486|         1970|                      9.03|                        11.29|                       13.54|
|          fi|   Finland|              4045|           2638|         1407|                      9.03|                        13.54|                       18.06|
|          fr|    France|              5445|           3604|         1841|                     10.16|                        15.24|                       20.32|
|          de|   Germany|              5668|           3814|         1854|                      9.03|                        14.67|                       20.32|
|          gi| Gibraltar|              6167|           4079|         2088|                      9.03|                        14.67|                       20.32|
+------------+----------+------------------+---------------+-------------+--------------------------+-----------------------------+----------------------------+
only showing top 20 rows

## Selection based on a condition

Print 1 for a condition otherwise 0

In [ ]:
# all coutries with
data.select("Country",
            F.when(data["Total Library Size"] < 7000 , 1).otherwise(0)
).show()

+----------+-------------------------------------------------------+
|   Country|CASE WHEN (Total Library Size < 7000) THEN 1 ELSE 0 END|
+----------+-------------------------------------------------------+
| Argentina|                                                      1|
| Australia|                                                      1|
|   Austria|                                                      1|
|   Belgium|                                                      1|
|   Bolivia|                                                      1|
|    Brazil|                                                      1|
|  Bulgaria|                                                      1|
|    Canada|                                                      1|
|     Chile|                                                      1|
|  Colombia|                                                      1|
|Costa Rica|                                                      1|
|   Croatia|                                                      1|
|   Czechia|                                                      0|
|   Denmark|                                                      1|
|   Ecuador|                                                      1|
|   Estonia|                                                      1|
|   Finland|                                                      1|
|    France|                                                      1|
|   Germany|                                                      1|
| Gibraltar|                                                      1|
+----------+-------------------------------------------------------+
only showing top 20 rows

## Challenging Questions

1. Find the countries with the lowest no of movies offered and the higest.

2. Determine whether the countries are in the 1st, 2nd, 3rd or 4th quartile of the distribution of values in the no of movies column. We want a column that says 1,2,3, ocr 4 denoting those quartiles respectively

1. First Question

In [ ]:
# find min and max
data.describe('No_of_Movies').show()

+-------+------------------+
|summary|      No_of_Movies|
+-------+------------------+
|  count|                65|
|   mean|1795.4615384615386|
| stddev| 327.2797483099835|
|    min|               373|
|    max|              2387|
+-------+------------------+

In [ ]:
# can use either filtering or F.when to select the records
# (For Smartasses: Yes there is a way to get it by aggregating) but we haven't covered it yet
data.filter(data["No_of_Movies"] == 373).show()

+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
|Country_code|   Country|Total Library Size|No_of_TVShows|No_of_Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
|          sm|San Marino|              2310|         1937|         373|                      9.03|                        14.67|                       20.32|
+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+

In [ ]:
data.filter(data["No_of_Movies"] == 2387).show()

+------------+--------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
|Country_code| Country|Total Library Size|No_of_TVShows|No_of_Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|
+------------+--------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+
|          my|Malaysia|              5952|         3565|        2387|                      8.29|                        10.65|                       13.02|
+------------+--------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+

2. Second Question

Hey Nerds... yes I know you can use custom Lambda Functions to do this.. I get it you're smart.. while we cover them for the other mere mortals in the class in the next lecture, please contend with doing it in Lowly Earthly Peasantly Python

In [ ]:
# convert Spark to Python List
no_of_mov_raw = data.select("No_of_Movies").collect()

In [ ]:
# convert raw spark types to ints
no_of_mov = []
for i in no_of_mov_raw:
  no_of_mov.append(i[0])

In [ ]:
# get quartiles values for the list of ints
import statistics

# Calculate quartiles
q1, q2, q3 = statistics.quantiles(no_of_mov, n=4)

In [ ]:
# all coutries with
data.select("Country",
            F.when(data["No_of_Movies"] < 1622.0 , 1)
            .otherwise(
                F.when( (data["No_of_Movies"] > 1622.0) & (data["No_of_Movies"] < 1841.0), 2).otherwise(
                    F.when( (data["No_of_Movies"] > 1841.0) & (data["No_of_Movies"] < 1986.0), 3).otherwise(4)
                )
            ).alias("Q_of_movies")
).show()

In [ ]:
# all coutries with
data.select("Country",
            F.when(data["No_of_Movies"] < 1622.0 , 1)
            .otherwise(
                F.when( (data["No_of_Movies"] > 1622.0) & (data["No_of_Movies"] < 1841.0), 2).otherwise(
                    F.when( (data["No_of_Movies"] > 1841.0) & (data["No_of_Movies"] < 1986.0), 3).otherwise(4)
                )
            ).alias("Q_of_movies")
).show()

+----------+-----------+
|   Country|Q_of_movies|
+----------+-----------+
| Argentina|          1|
| Australia|          4|
|   Austria|          3|
|   Belgium|          1|
|   Bolivia|          2|
|    Brazil|          2|
|  Bulgaria|          3|
|    Canada|          3|
|     Chile|          2|
|  Colombia|          2|
|Costa Rica|          2|
|   Croatia|          1|
|   Czechia|          4|
|   Denmark|          1|
|   Ecuador|          2|
|   Estonia|          3|
|   Finland|          1|
|    France|          4|
|   Germany|          3|
| Gibraltar|          4|
+----------+-----------+
only showing top 20 rows

# Week 2

## Joining in Spark


Download this dataset https://www.kaggle.com/datasets/iamsouravbanerjee/world-population-dataset


and upload to the session storage in Colab

In [19]:
# Load the dataset
data_population = spark.read.csv("world_population.csv", header=True, inferSchema=True)

In [20]:
data_population.show()

+----+----+-------------------+----------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|Rank|CCA3|  Country/Territory|         Capital|    Continent|2022 Population|2020 Population|2015 Population|2010 Population|2000 Population|1990 Population|1980 Population|1970 Population|Area (km²)|Density (per km²)|Growth Rate|World Population Percentage|
+----+----+-------------------+----------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|  36| AFG|        Afghanistan|           Kabul|         Asia|       41128771|       38972230|       33753499|       28189672|       19542982|       10694796|       12486631|       10752971|    652230|          63.0587|     1.0257|                       0.52|
| 138| ALB|            Albania|          Tirana|       Europe|        2842321|        2866849|        2882481|        2913399|        3182021|        3295066|        2941651|        2324731|     28748|          98.8702|     0.9957|                       0.04|
|  34| DZA|            Algeria|         Algiers|       Africa|       44903225|       43451666|       39543154|       35856344|       30774621|       25518074|       18739378|       13795915|   2381741|          18.8531|     1.0164|                       0.56|
| 213| ASM|     American Samoa|       Pago Pago|      Oceania|          44273|          46189|          51368|          54849|          58230|          47818|          32886|          27075|       199|         222.4774|     0.9831|                        0.0|
| 203| AND|            Andorra|Andorra la Vella|       Europe|          79824|          77700|          71746|          71519|          66097|          53569|          35611|          19860|       468|         170.5641|       1.01|                        0.0|
|  42| AGO|             Angola|          Luanda|       Africa|       35588987|       33428485|       28127721|       23364185|       16394062|       11828638|        8330047|        6029700|   1246700|          28.5466|     1.0315|                       0.45|
| 224| AIA|           Anguilla|      The Valley|North America|          15857|          15585|          14525|          13172|          11047|           8316|           6560|           6283|        91|         174.2527|     1.0066|                        0.0|
| 201| ATG|Antigua and Barbuda|    Saint John’s|North America|          93763|          92664|          89941|          85695|          75055|          63328|          64888|          64516|       442|         212.1335|     1.0058|                        0.0|
|  33| ARG|          Argentina|    Buenos Aires|South America|       45510318|       45036032|       43257065|       41100123|       37070774|       32637657|       28024803|       23842803|   2780400|          16.3683|     1.0052|                       0.57|
| 140| ARM|            Armenia|         Yerevan|         Asia|        2780469|        2805608|        2878595|        2946293|        3168523|        3556539|        3135123|        2534377|     29743|          93.4831|     0.9962|                       0.03|
| 198| ABW|              Aruba|      Oranjestad|North America|         106445|         106585|         104257|         100341|          89101|          65712|          62267|          59106|       180|         591.3611|     0.9991|                        0.0|
|  55| AUS|          Australia|        Canberra|      Oceania|       26177413|       25670051|       23820236|       22019168|       19017963|       17048003|       14706322|       12595034|   7692024|           3.4032|     1.0099|                       0.33|
|  99| AUT|            Austria|          Vienna|       Europe|        8939617|        8907777|        8642421|        8362829|        8010428|        7678729|        7547561|        7465301|     83871|         106.5877|      1.002|                       0.11|
|  91| AZE|         Azerbaijan|            Baku|         Asia|       10358074|       10284951|        9863480|        9237202|        8190337|        7427836|        6383060|        5425317|     86600|         119.6082|     1.0044|                       0.13|
| 176| BHS|            Bahamas|          Nassau|North America|         409984|         406471|         392697|         373272|         325014|         270679|         223752|         179129|     13943|          29.4043|     1.0051|                       0.01|
| 154| BHR|            Bahrain|          Manama|         Asia|        1472233|        1477469|        1362142|        1213645|         711442|         517418|         362595|         222555|       765|        1924.4876|     1.0061|                       0.02|
|   8| BGD|         Bangladesh|           Dhaka|         Asia|      171186372|      167420951|      157830000|      148391139|      129193327|      107147651|       83929765|       67541860|    147570|         1160.035|     1.0108|                       2.15|
| 186| BRB|           Barbados|      Bridgetown|North America|         281635|         280693|         278083|         274711|         264657|         258868|         253575|         241397|       430|         654.9651|     1.0015|                        0.0|
|  96| BLR|            Belarus|           Minsk|       Europe|        9534954|        9633740|        9700609|        9731427|       10256483|       10428525|        9817257|        9170786|    207600|          45.9295|     0.9955|                       0.12|
|  81| BEL|            Belgium|        Brussels|       Europe|       11655930|       11561717|       11248303|       10877947|       10264343|        9959560|        9828986|        9629376|     30528|         381.8111|     1.0038|                       0.15|
+----+----+-------------------+----------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
only showing top 20 rows

## Sort

the dataframe by "World Population Percentage"

In [24]:
data_population.sort("World Population Percentage", ascending=False).show()

+----+----+-----------------+----------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|Rank|CCA3|Country/Territory|         Capital|    Continent|2022 Population|2020 Population|2015 Population|2010 Population|2000 Population|1990 Population|1980 Population|1970 Population|Area (km²)|Density (per km²)|Growth Rate|World Population Percentage|
+----+----+-----------------+----------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|   1| CHN|            China|         Beijing|         Asia|     1425887337|     1424929781|     1393715448|     1348191368|     1264099069|     1153704252|      982372466|      822534450|   9706961|         146.8933|        1.0|                      17.88|
|   2| IND|            India|       New Delhi|         Asia|     1417173173|     1396387127|     1322866505|     1240613620|     1059633675|      870452165|      696828385|      557501301|   3287590|         431.0675|     1.0068|                      17.77|
|   3| USA|    United States|Washington, D.C.|North America|      338289857|      335942003|      324607776|      311182845|      282398554|      248083732|      223140018|      200328340|   9372610|          36.0935|     1.0038|                       4.24|
|   4| IDN|        Indonesia|         Jakarta|         Asia|      275501339|      271857970|      259091970|      244016173|      214072421|      182159874|      148177096|      115228394|   1904569|         144.6529|     1.0064|                       3.45|
|   5| PAK|         Pakistan|       Islamabad|         Asia|      235824862|      227196741|      210969298|      194454498|      154369924|      115414069|       80624057|       59290872|    881912|         267.4018|     1.0191|                       2.96|
|   6| NGA|          Nigeria|           Abuja|       Africa|      218541212|      208327405|      183995785|      160952853|      122851984|       95214257|       72951439|       55569264|    923768|         236.5759|     1.0241|                       2.74|
|   7| BRA|           Brazil|        Brasilia|South America|      215313498|      213196304|      205188205|      196353492|      175873720|      150706446|      122288383|       96369875|   8515767|          25.2841|     1.0046|                        2.7|
|   8| BGD|       Bangladesh|           Dhaka|         Asia|      171186372|      167420951|      157830000|      148391139|      129193327|      107147651|       83929765|       67541860|    147570|         1160.035|     1.0108|                       2.15|
|   9| RUS|           Russia|          Moscow|       Europe|      144713314|      145617329|      144668389|      143242599|      146844839|      148005704|      138257420|      130093010|  17098242|           8.4636|     0.9973|                       1.81|
|  10| MEX|           Mexico|     Mexico City|North America|      127504125|      125998302|      120149897|      112532401|       97873442|       81720428|       67705186|       50289306|   1964375|          64.9082|     1.0063|                        1.6|
|  11| JPN|            Japan|           Tokyo|         Asia|      123951692|      125244761|      127250933|      128105431|      126803861|      123686321|      117624196|      105416839|    377930|         327.9753|     0.9947|                       1.55|
|  12| ETH|         Ethiopia|     Addis Ababa|       Africa|      123379924|      117190911|      102471895|       89237791|       67031867|       47878073|       34945469|       28308246|   1104300|         111.7268|     1.0257|                       1.55|
|  13| PHL|      Philippines|          Manila|         Asia|      115559009|      112190977|      103031365|       94636700|       77958223|       61558898|       48419546|       37435586|    342353|         337.5434|     1.0147|                       1.45|
|  14| EGY|            Egypt|           Cairo|       Africa|      110990103|      107465134|       97723799|       87252413|       71371371|       57214630|       43748556|       34781986|   1002450|         110.7188|     1.0158|                       1.39|
|  15| COD|         DR Congo|        Kinshasa|       Africa|       99010212|       92853164|       78656904|       66391257|       48616317|       35987541|       26708686|       20151733|   2344858|          42.2244|     1.0325|                       1.24|
|  16| VNM|          Vietnam|           Hanoi|         Asia|       98186856|       96648685|       92191398|       87411012|       79001142|       66912613|       52968270|       41928849|    331212|         296.4472|     1.0074|                       1.23|
|  17| IRN|             Iran|          Tehran|         Asia|       88550570|       87290193|       81790841|       75373855|       65544383|       55793629|       38520664|       28449705|   1648195|          53.7258|     1.0071|                       1.11|
|  18| TUR|           Turkey|          Ankara|         Asia|       85341241|       84135428|       79646178|       73195345|       64113547|       54324142|       44089069|       35540990|    783562|         108.9145|     1.0067|                       1.07|
|  19| DEU|          Germany|          Berlin|       Europe|       83369843|       83328988|       82073226|       81325090|       81551677|       79370196|       77786703|       78294583|    357114|         233.4544|     0.9995|                       1.05|
|  20| THA|         Thailand|         Bangkok|         Asia|       71697030|       71475664|       70294397|       68270489|       63066603|       55228410|       45737753|       35791728|    513120|         139.7276|     1.0013|                        0.9|
+----+----+-----------------+----------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
only showing top 20 rows

In [25]:
data_population.sort("Area (km²)", ascending=False).show()

+----+----+-----------------+----------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|Rank|CCA3|Country/Territory|         Capital|    Continent|2022 Population|2020 Population|2015 Population|2010 Population|2000 Population|1990 Population|1980 Population|1970 Population|Area (km²)|Density (per km²)|Growth Rate|World Population Percentage|
+----+----+-----------------+----------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|   9| RUS|           Russia|          Moscow|       Europe|      144713314|      145617329|      144668389|      143242599|      146844839|      148005704|      138257420|      130093010|  17098242|           8.4636|     0.9973|                       1.81|
|  39| CAN|           Canada|          Ottawa|North America|       38454327|       37888705|       35732126|       33963412|       30683313|       27657204|       24511510|       21434577|   9984670|           3.8513|     1.0078|                       0.48|
|   1| CHN|            China|         Beijing|         Asia|     1425887337|     1424929781|     1393715448|     1348191368|     1264099069|     1153704252|      982372466|      822534450|   9706961|         146.8933|        1.0|                      17.88|
|   3| USA|    United States|Washington, D.C.|North America|      338289857|      335942003|      324607776|      311182845|      282398554|      248083732|      223140018|      200328340|   9372610|          36.0935|     1.0038|                       4.24|
|   7| BRA|           Brazil|        Brasilia|South America|      215313498|      213196304|      205188205|      196353492|      175873720|      150706446|      122288383|       96369875|   8515767|          25.2841|     1.0046|                        2.7|
|  55| AUS|        Australia|        Canberra|      Oceania|       26177413|       25670051|       23820236|       22019168|       19017963|       17048003|       14706322|       12595034|   7692024|           3.4032|     1.0099|                       0.33|
|   2| IND|            India|       New Delhi|         Asia|     1417173173|     1396387127|     1322866505|     1240613620|     1059633675|      870452165|      696828385|      557501301|   3287590|         431.0675|     1.0068|                      17.77|
|  33| ARG|        Argentina|    Buenos Aires|South America|       45510318|       45036032|       43257065|       41100123|       37070774|       32637657|       28024803|       23842803|   2780400|          16.3683|     1.0052|                       0.57|
|  66| KAZ|       Kazakhstan|       Nursultan|         Asia|       19397998|       18979243|       17835909|       16627837|       15236253|       16866563|       14172710|       12265305|   2724900|           7.1188|     1.0105|                       0.24|
|  34| DZA|          Algeria|         Algiers|       Africa|       44903225|       43451666|       39543154|       35856344|       30774621|       25518074|       18739378|       13795915|   2381741|          18.8531|     1.0164|                       0.56|
|  15| COD|         DR Congo|        Kinshasa|       Africa|       99010212|       92853164|       78656904|       66391257|       48616317|       35987541|       26708686|       20151733|   2344858|          42.2244|     1.0325|                       1.24|
| 208| GRL|        Greenland|            Nuuk|North America|          56466|          56026|          55895|          56351|          56184|          55599|          50106|          45434|   2166086|           0.0261|      1.004|                        0.0|
|  41| SAU|     Saudi Arabia|          Riyadh|         Asia|       36408820|       35997107|       32749848|       29411929|       21547390|       16004763|       10171710|        6106191|   2149690|          16.9368|     1.0128|                       0.46|
|  10| MEX|           Mexico|     Mexico City|North America|      127504125|      125998302|      120149897|      112532401|       97873442|       81720428|       67705186|       50289306|   1964375|          64.9082|     1.0063|                        1.6|
|   4| IDN|        Indonesia|         Jakarta|         Asia|      275501339|      271857970|      259091970|      244016173|      214072421|      182159874|      148177096|      115228394|   1904569|         144.6529|     1.0064|                       3.45|
|  32| SDN|            Sudan|        Khartoum|       Africa|       46874204|       44440486|       38171178|       33739933|       26298773|       21090886|       16673586|       11305206|   1886068|          24.8529|     1.0267|                       0.59|
| 107| LBY|            Libya|         Tripoli|       Africa|        6812341|        6653942|        6192235|        6491988|        5154790|        4236983|        2962720|        1909177|   1759540|           3.8717|     1.0114|                       0.09|
|  17| IRN|             Iran|          Tehran|         Asia|       88550570|       87290193|       81790841|       75373855|       65544383|       55793629|       38520664|       28449705|   1648195|          53.7258|     1.0071|                       1.11|
| 134| MNG|         Mongolia|     Ulaanbaatar|         Asia|        3398366|        3294335|        2964749|        2702520|        2450979|        2161433|        1697780|        1293880|   1564110|           2.1727|     1.0151|                       0.04|
|  44| PER|             Peru|            Lima|South America|       34049588|       33304756|       30711863|       29229572|       26654439|       22109099|       17492406|       13562371|   1285216|          26.4933|     1.0099|                       0.43|
+----+----+-----------------+----------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
only showing top 20 rows

## Download and upload to session.

This dataset as well. https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes/blob/master/all/all.csv

In [26]:
data_country_code = spark.read.csv("all.csv", header=True, inferSchema=True)

In [27]:
data_country_code.show()

+-------------------+-------+-------+------------+-------------+--------+--------------------+-------------------+-----------+---------------+------------------------+
|               name|alpha-2|alpha-3|country-code|   iso_3166-2|  region|          sub-region|intermediate-region|region-code|sub-region-code|intermediate-region-code|
+-------------------+-------+-------+------------+-------------+--------+--------------------+-------------------+-----------+---------------+------------------------+
|        Afghanistan|     AF|    AFG|           4|ISO 3166-2:AF|    Asia|       Southern Asia|               NULL|        142|             34|                    NULL|
|      Åland Islands|     AX|    ALA|         248|ISO 3166-2:AX|  Europe|     Northern Europe|               NULL|        150|            154|                    NULL|
|            Albania|     AL|    ALB|           8|ISO 3166-2:AL|  Europe|     Southern Europe|               NULL|        150|             39|                    NULL|
|            Algeria|     DZ|    DZA|          12|ISO 3166-2:DZ|  Africa|     Northern Africa|               NULL|          2|             15|                    NULL|
|     American Samoa|     AS|    ASM|          16|ISO 3166-2:AS| Oceania|           Polynesia|               NULL|          9|             61|                    NULL|
|            Andorra|     AD|    AND|          20|ISO 3166-2:AD|  Europe|     Southern Europe|               NULL|        150|             39|                    NULL|
|             Angola|     AO|    AGO|          24|ISO 3166-2:AO|  Africa|  Sub-Saharan Africa|      Middle Africa|          2|            202|                      17|
|           Anguilla|     AI|    AIA|         660|ISO 3166-2:AI|Americas|Latin America and...|          Caribbean|         19|            419|                      29|
|         Antarctica|     AQ|    ATA|          10|ISO 3166-2:AQ|    NULL|                NULL|               NULL|       NULL|           NULL|                    NULL|
|Antigua and Barbuda|     AG|    ATG|          28|ISO 3166-2:AG|Americas|Latin America and...|          Caribbean|         19|            419|                      29|
|          Argentina|     AR|    ARG|          32|ISO 3166-2:AR|Americas|Latin America and...|      South America|         19|            419|                       5|
|            Armenia|     AM|    ARM|          51|ISO 3166-2:AM|    Asia|        Western Asia|               NULL|        142|            145|                    NULL|
|              Aruba|     AW|    ABW|         533|ISO 3166-2:AW|Americas|Latin America and...|          Caribbean|         19|            419|                      29|
|          Australia|     AU|    AUS|          36|ISO 3166-2:AU| Oceania|Australia and New...|               NULL|          9|             53|                    NULL|
|            Austria|     AT|    AUT|          40|ISO 3166-2:AT|  Europe|      Western Europe|               NULL|        150|            155|                    NULL|
|         Azerbaijan|     AZ|    AZE|          31|ISO 3166-2:AZ|    Asia|        Western Asia|               NULL|        142|            145|                    NULL|
|            Bahamas|     BS|    BHS|          44|ISO 3166-2:BS|Americas|Latin America and...|          Caribbean|         19|            419|                      29|
|            Bahrain|     BH|    BHR|          48|ISO 3166-2:BH|    Asia|        Western Asia|               NULL|        142|            145|                    NULL|
|         Bangladesh|     BD|    BGD|          50|ISO 3166-2:BD|    Asia|       Southern Asia|               NULL|        142|             34|                    NULL|
|           Barbados|     BB|    BRB|          52|ISO 3166-2:BB|Americas|Latin America and...|          Caribbean|         19|            419|                      29|
+-------------------+-------+-------+------------+-------------+--------+--------------------+-------------------+-----------+---------------+------------------------+
only showing top 20 rows

## Joining

join the two dataframe on the CCA3 and alpha-3 columns

In [31]:
data_population_to_be_joined = data_population.join(
    data_country_code,
    data_population['CCA3'] == data_country_code['alpha-3'],
    'inner'
)

In [40]:
data_population_to_be_joined.show()

+----+----+-------------------+----------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+-------------------+-------+-------+------------+-------------+--------+--------------------+-------------------+-----------+---------------+------------------------+
|Rank|CCA3|  Country/Territory|         Capital|    Continent|2022 Population|2020 Population|2015 Population|2010 Population|2000 Population|1990 Population|1980 Population|1970 Population|Area (km²)|Density (per km²)|Growth Rate|World Population Percentage|               name|alpha-2|alpha-3|country-code|   iso_3166-2|  region|          sub-region|intermediate-region|region-code|sub-region-code|intermediate-region-code|
+----+----+-------------------+----------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+-------------------+-------+-------+------------+-------------+--------+--------------------+-------------------+-----------+---------------+------------------------+
|  36| AFG|        Afghanistan|           Kabul|         Asia|       41128771|       38972230|       33753499|       28189672|       19542982|       10694796|       12486631|       10752971|    652230|          63.0587|     1.0257|                       0.52|        Afghanistan|     AF|    AFG|           4|ISO 3166-2:AF|    Asia|       Southern Asia|               NULL|        142|             34|                    NULL|
| 138| ALB|            Albania|          Tirana|       Europe|        2842321|        2866849|        2882481|        2913399|        3182021|        3295066|        2941651|        2324731|     28748|          98.8702|     0.9957|                       0.04|            Albania|     AL|    ALB|           8|ISO 3166-2:AL|  Europe|     Southern Europe|               NULL|        150|             39|                    NULL|
|  34| DZA|            Algeria|         Algiers|       Africa|       44903225|       43451666|       39543154|       35856344|       30774621|       25518074|       18739378|       13795915|   2381741|          18.8531|     1.0164|                       0.56|            Algeria|     DZ|    DZA|          12|ISO 3166-2:DZ|  Africa|     Northern Africa|               NULL|          2|             15|                    NULL|
| 213| ASM|     American Samoa|       Pago Pago|      Oceania|          44273|          46189|          51368|          54849|          58230|          47818|          32886|          27075|       199|         222.4774|     0.9831|                        0.0|     American Samoa|     AS|    ASM|          16|ISO 3166-2:AS| Oceania|           Polynesia|               NULL|          9|             61|                    NULL|
| 203| AND|            Andorra|Andorra la Vella|       Europe|          79824|          77700|          71746|          71519|          66097|          53569|          35611|          19860|       468|         170.5641|       1.01|                        0.0|            Andorra|     AD|    AND|          20|ISO 3166-2:AD|  Europe|     Southern Europe|               NULL|        150|             39|                    NULL|
|  42| AGO|             Angola|          Luanda|       Africa|       35588987|       33428485|       28127721|       23364185|       16394062|       11828638|        8330047|        6029700|   1246700|          28.5466|     1.0315|                       0.45|             Angola|     AO|    AGO|          24|ISO 3166-2:AO|  Africa|  Sub-Saharan Africa|      Middle Africa|          2|            202|                      17|
| 224| AIA|           Anguilla|      The Valley|North America|          15857|          15585|          14525|          13172|          11047|           8316|           6560|           6283|        91|         174.2527|     1.0066|                        0.0|           Anguilla|     AI|    AIA|         660|ISO 3166-2:AI|Americas|Latin America and...|          Caribbean|         19|            419|                      29|
| 201| ATG|Antigua and Barbuda|    Saint John’s|North America|          93763|          92664|          89941|          85695|          75055|          63328|          64888|          64516|       442|         212.1335|     1.0058|                        0.0|Antigua and Barbuda|     AG|    ATG|          28|ISO 3166-2:AG|Americas|Latin America and...|          Caribbean|         19|            419|                      29|
|  33| ARG|          Argentina|    Buenos Aires|South America|       45510318|       45036032|       43257065|       41100123|       37070774|       32637657|       28024803|       23842803|   2780400|          16.3683|     1.0052|                       0.57|          Argentina|     AR|    ARG|          32|ISO 3166-2:AR|Americas|Latin America and...|      South America|         19|            419|                       5|
| 140| ARM|            Armenia|         Yerevan|         Asia|        2780469|        2805608|        2878595|        2946293|        3168523|        3556539|        3135123|        2534377|     29743|          93.4831|     0.9962|                       0.03|            Armenia|     AM|    ARM|          51|ISO 3166-2:AM|    Asia|        Western Asia|               NULL|        142|            145|                    NULL|
| 198| ABW|              Aruba|      Oranjestad|North America|         106445|         106585|         104257|         100341|          89101|          65712|          62267|          59106|       180|         591.3611|     0.9991|                        0.0|              Aruba|     AW|    ABW|         533|ISO 3166-2:AW|Americas|Latin America and...|          Caribbean|         19|            419|                      29|
|  55| AUS|          Australia|        Canberra|      Oceania|       26177413|       25670051|       23820236|       22019168|       19017963|       17048003|       14706322|       12595034|   7692024|           3.4032|     1.0099|                       0.33|          Australia|     AU|    AUS|          36|ISO 3166-2:AU| Oceania|Australia and New...|               NULL|          9|             53|                    NULL|
|  99| AUT|            Austria|          Vienna|       Europe|        8939617|        8907777|        8642421|        8362829|        8010428|        7678729|        7547561|        7465301|     83871|         106.5877|      1.002|                       0.11|            Austria|     AT|    AUT|          40|ISO 3166-2:AT|  Europe|      Western Europe|               NULL|        150|            155|                    NULL|
|  91| AZE|         Azerbaijan|            Baku|         Asia|       10358074|       10284951|        9863480|        9237202|        8190337|        7427836|        6383060|        5425317|     86600|         119.6082|     1.0044|                       0.13|         Azerbaijan|     AZ|    AZE|          31|ISO 3166-2:AZ|    Asia|        Western Asia|               NULL|        142|            145|                    NULL|
| 176| BHS|            Bahamas|          Nassau|North America|         409984|         406471|         392697|         373272|         325014|         270679|         223752|         179129|     13943|          29.4043|     1.0051|                       0.01|            Bahamas|     BS|    BHS|          44|ISO 3166-2:BS|Americas|Latin America and...|          Caribbean|         19|            419|                      29|
| 154| BHR|            Bahrain|          Manama|         Asia|        1472233|        1477469|        1362142|        1213645|         711442|         517418|         362595|         222555|       765|        1924.4876|     1.0061|                       0.02|            Bahrain|     BH|    BHR|          48|ISO 3166-2:BH|    Asia|        Western Asia|               NULL|        142|            145|                    NULL|
|   8| BGD|         Bangladesh|           Dhaka|         Asia|      171186372|      167420951|      157830000|      148391139|      129193327|      107147651|       83929765|       67541860|    147570|         1160.035|     1.0108|                       2.15|         Bangladesh|     BD|    BGD|          50|ISO 3166-2:BD|    Asia|       Southern Asia|               NULL|        142|             34|                    NULL|
| 186| BRB|           Barbados|      Bridgetown|North America|         281635|         280693|         278083|         274711|         264657|         258868|         253575|         241397|       430|         654.9651|     1.0015|                        0.0|           Barbados|     BB|    BRB|          52|ISO 3166-2:BB|Americas|Latin America and...|          Caribbean|         19|            419|                      29|
|  96| BLR|            Belarus|           Minsk|       Europe|        9534954|        9633740|        9700609|        9731427|       10256483|       10428525|        9817257|        9170786|    207600|          45.9295|     0.9955|                       0.12|            Belarus|     BY|    BLR|         112|ISO 3166-2:BY|  Europe|      Eastern Europe|               NULL|        150|            151|                    NULL|
|  81| BEL|            Belgium|        Brussels|       Europe|       11655930|       11561717|       11248303|       10877947|       10264343|        9959560|        9828986|        9629376|     30528|         381.8111|     1.0038|                       0.15|            Belgium|     BE|    BEL|          56|ISO 3166-2:BE|  Europe|      Western Europe|               NULL|        150|            155|                    NULL|
+----+----+-------------------+----------------+-------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+-------------------+-------+-------+------------+-------------+--------+--------------------+-------------------+-----------+---------------+------------------------+
only showing top 20 rows

## WithColoumn

WithColoumn is used to create a new col based on some logic in the existing columns or external factors.  

Capitalise the country code and create a new column 'CC_Capitals'

In [38]:
# Capitalise the
caps = data.withColumn(
    "CC_Capitals",
    F.upper(data["Country_code"])
)

# Display result
caps.show()

+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+-----------+
|Country_code|   Country|Total Library Size|No_of_TVShows|No_of_Movies|Cost Per Month - Basic ($)|Cost Per Month - Standard ($)|Cost Per Month - Premium ($)|CC_Capitals|
+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+-----------+
|          ar| Argentina|              4760|         3154|        1606|                      3.74|                          6.3|                        9.26|         AR|
|          au| Australia|              6114|         4050|        2064|                      7.84|                        12.12|                       16.39|         AU|
|          at|   Austria|              5640|         3779|        1861|                      9.03|                        14.67|                       20.32|         AT|
|          be|   Belgium|              4990|         3374|        1616|                     10.16|                        15.24|                       20.32|         BE|
|          bo|   Bolivia|              4991|         3155|        1836|                      7.99|                        10.99|                       13.99|         BO|
|          br|    Brazil|              4972|         3162|        1810|                      4.61|                         7.11|                        9.96|         BR|
|          bg|  Bulgaria|              6797|         4819|        1978|                      9.03|                        11.29|                       13.54|         BG|
|          ca|    Canada|              6239|         4311|        1928|                      7.91|                        11.87|                       15.03|         CA|
|          cl|     Chile|              4994|         3156|        1838|                      7.07|                         9.91|                       12.74|         CL|
|          co|  Colombia|              4991|         3156|        1835|                      4.31|                         6.86|                        9.93|         CO|
|          cr|Costa Rica|              4988|         3152|        1836|                      8.99|                        12.99|                       15.99|         CR|
|          hr|   Croatia|              2274|         1675|         599|                      9.03|                        11.29|                       13.54|         HR|
|          cz|   Czechia|              7325|         5234|        2091|                      8.83|                        11.49|                       14.15|         CZ|
|          dk|   Denmark|              4558|         2978|        1580|                      12.0|                        15.04|                        19.6|         DK|
|          ec|   Ecuador|              4992|         3155|        1837|                      7.99|                        10.99|                       13.99|         EC|
|          ee|   Estonia|              6456|         4486|        1970|                      9.03|                        11.29|                       13.54|         EE|
|          fi|   Finland|              4045|         2638|        1407|                      9.03|                        13.54|                       18.06|         FI|
|          fr|    France|              5445|         3604|        1841|                     10.16|                        15.24|                       20.32|         FR|
|          de|   Germany|              5668|         3814|        1854|                      9.03|                        14.67|                       20.32|         DE|
|          gi| Gibraltar|              6167|         4079|        2088|                      9.03|                        14.67|                       20.32|         GI|
+------------+----------+------------------+-------------+------------+--------------------------+-----------------------------+----------------------------+-----------+
only showing top 20 rows

## Join

https://i.ytimg.com/vi/Sh4ENyItXK8/hqdefault.jpg

Join the capitalised dataframe with the population dataframe on the CC_Capitals and alpha-2 columns.


a small intro to joins is given in the pic

name the df "netflix_data_with_populations"

In [44]:
netflix_data_with_populations = caps.join(
    data_population_to_be_joined,
    caps['CC_Capitals'] == data_population_to_be_joined['alpha-2'],
    'inner'
)

In [46]:
netflix_data_with_populations.count()

65

## Aggregating functions

1.   Find the average population min and max in each continent using agg and grouby
2.   Find out using dataframe ops how to get the max value of a col

In [49]:
continent_population = data_population_to_be_joined.groupBy(
    F.col("Continent")
).agg(
    F.avg("2022 Population").alias('Population Avg'),
    F.min("2022 Population").alias('Population min'),
    F.max("2022 Population").alias('Population max'),
).show()

+-------------+--------------------+--------------+--------------+
|    Continent|      Population Avg|Population min|Population max|
+-------------+--------------------+--------------+--------------+
|       Europe|       1.486295076E7|           510|     144713314|
|       Africa|2.5030367228070177E7|        107118|     218541212|
|North America|        1.50074034E7|          4390|     338289857|
|South America|3.1201186285714287E7|          3780|     215313498|
|      Oceania|           1958198.0|          1871|      26177413|
|         Asia|       9.442766548E7|        449002|    1425887337|
+-------------+--------------------+--------------+--------------+



For the above dataframe see how many countries in each continent as well

In [50]:
continent_population = data_population_to_be_joined.groupBy(
    F.col("Continent")
).agg(
    F.avg("2022 Population").alias('Population Avg'),
    F.min("2022 Population").alias('Population min'),
    F.max("2022 Population").alias('Population max'),
    F.count("name").alias('Country Count'),
).show()

+-------------+--------------------+--------------+--------------+-------------+
|    Continent|      Population Avg|Population min|Population max|Country Count|
+-------------+--------------------+--------------+--------------+-------------+
|       Europe|       1.486295076E7|           510|     144713314|           50|
|       Africa|2.5030367228070177E7|        107118|     218541212|           57|
|North America|        1.50074034E7|          4390|     338289857|           40|
|South America|3.1201186285714287E7|          3780|     215313498|           14|
|      Oceania|           1958198.0|          1871|      26177413|           23|
|         Asia|       9.442766548E7|        449002|    1425887337|           50|
+-------------+--------------------+--------------+--------------+-------------+

## Challenging Tasks

for the netflix_data_with_populations dataframe,

1.   Find the average population min and max in each continent using agg and grouby
2.   Find out using dataframe ops how to get the max value of a col
3.   For this dataframe see how many countries in each continent as well
4. why is there a difference in the no of countries

In [52]:
continent_population = netflix_data_with_populations.groupBy(
    F.col("Continent")
).agg(
    F.avg("2022 Population").alias('Population Avg'),
    F.min("2022 Population").alias('Population min'),
    F.max("2022 Population").alias('Population max'),
    F.count("name").alias('Country Count'),
).show()

+-------------+--------------------+--------------+--------------+-------------+
|    Continent|      Population Avg|Population min|Population max|Country Count|
+-------------+--------------------+--------------+--------------+-------------+
|       Europe|2.0960307411764707E7|         32649|     144713314|           34|
|       Africa|         5.9893885E7|      59893885|      59893885|            1|
|North America|         8.9617651E7|       5180829|     338289857|            6|
|South America|        4.35081505E7|       3422794|     215313498|           10|
|      Oceania|        1.56813505E7|       5185288|      26177413|            2|
|         Asia|        1.85114481E8|       5975689|    1417173173|           12|
+-------------+--------------------+--------------+--------------+-------------+

# Do try to answer other interesting questions using the combined df you have made.